a.btn {
  text-decoration: none;
  vertical-align: top;
  line-height: 46px;
}

button.btn {
  display: block;
  width: 100%;
}

.btn {
  display: block;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: bold;
  font-family: $font-primary;
  height: 46px;
  box-shadow: none;
  -moz-transition: -moz-box-shadow 0.6s ease-out 0s;
   -webkit-transition: -webkit-box-shadow 0.6s ease-out 0s;
  -o-transition:  -o-box-shadow 0.6s ease-out 0s;
  transition: box-shadow 0.6s ease-out 0s;
  line-height: 40px;
  cursor: pointer;
  padding: 0 20px;
  border: none;
  outline: none;
  
  &.brand-darkgray-bg {
    box-shadow: inset 0 100px 0 0 $brand-darkgray;
    &:hover{
      box-shadow: 0 0 0 0 #333 inset;
    }
  }
  
  &.brand-gray-bg {
    box-shadow: inset 0 100px 0 0 $brand-gray;
    &:hover{
      box-shadow: 0 0 0 0 #666 inset;
    }
  }
  
  &.brand-offwhite-bg {
    color: $brand-gray;
    box-shadow: inset 0 100px 0 0 $brand-offwhite;
    &:hover{
      box-shadow: 0 0 0 0 #ddd inset;
    }
  }

  &.brand-green-bg {
    box-shadow: inset 0 100px 0 0 $brand-green;
    &:hover{
      box-shadow: 0 0 0 0 #6fbc49 inset;
    }
  }

  &.brand-orange-bg {
    box-shadow: inset 0 100px 0 0 $brand-orange;
    &:hover{
      box-shadow: 0 0 0 0 #f27444 inset;
    }
  }

  &.brand-teal-bg {
    box-shadow: inset 0 100px 0 0 $brand-teal;
    &:hover{
      box-shadow: 0 0 0 0 #009090 inset;
    }
  }

  &.brand-pink-bg {
    box-shadow: inset 0 100px 0 0 $brand-pink;
    &:hover{
      box-shadow: 0 0px 0 0 #ca066d inset;
    }
  }

  &.brand-purple-bg {
    box-shadow: inset 0 100px 0 0 $brand-purple;
    &:hover{
      box-shadow: 0 0 0 0 #703386 inset;
    }
  }

  &.brand-white-bg {
    box-shadow: inset 0 100px 0 0 #fff;
    &:hover {
      box-shadow: 0 0 0 0 #efeeea inset;
    }
  }
  
  &.inline {
    display: inline-block;
    line-height: 46px;
    width: auto;
  }
    
  &.ghost {
    background-color: transparent;
    border: solid 2px;
    line-height: 42px;
    transition: color .3s, border-color .3s, background-color .3s;
    -moz-transition: color .3s, border-color .3s, background-color .3s;
    -webkit-transition: color .3s, border-color .3s, background-color .3s;
    
    &.brand-pink {
      color: $brand-pink;
      border-color: $brand-pink;
      &:hover {
        color: #fff;
        background-color: $brand-pink;
      }
    }

    &.brand-orange {
      color: $brand-orange;
      border-color: $brand-orange;
      &:hover {
        color: #fff;
        background-color: $brand-orange;
      }
    }

    &.brand-teal {
      color: $brand-teal;
      border-color: $brand-teal;
      &:hover {
        color: #fff;
        background-color: $brand-teal;
      }
    }

    &.brand-purple {
      color: $brand-purple;
      border-color: $brand-purple;
      &:hover {
        color: #fff;
        background-color: $brand-purple;
      }
    }

    &.brand-green {
      color: $brand-green;
      border-color: $brand-green;
      &:hover {
        color: #fff;
        background-color: $brand-green;
      }
    }
    
    &.brand-darkgray {
      color: $brand-darkgray;
      border-color: $brand-darkgray;
      &:hover {
        color: #fff;
        background-color: $brand-darkgray;
      }
    }
    
    &.brand-gray {
      color: $brand-gray;
      border-color: $brand-gray;
      &:hover {
        color: #fff;
        background-color: $brand-gray;
      }
    }
    
    &.brand-offwhite {
      color: $brand-offwhite;
      border-color: $brand-offwhite;
      &:hover {
        color: $brand-gray;
        background-color: $brand-offwhite;
      }
    }
    
    &.brand-white {
      color: #fff;
      border-color: #fff;
      &:hover {
        color: $text-color;
        background-color: #fff;
      }
    }
  }
}

.brand-purple-bg {
  .btn {
    &.brand-white-bg, &.ghost.brand-white:hover {
      color: $brand-purple;
    }
  }
}

.brand-teal-bg {
  .btn {
    &.brand-white-bg, &.ghost.brand-white:hover {
      color: $brand-teal;
    }
  }
}

.brand-orange-bg {
  .btn {
    &.brand-white-bg, &.ghost.brand-white:hover {
      color: $brand-orange;
    }
  }
}

.brand-teal-bg {
  .btn {
    &.brand-white-bg, &.ghost.brand-white:hover {
      color: $brand-teal;
    }
  }
}

.brand-pink-bg {
  .btn {
    &.brand-white-bg, &.ghost.brand-white:hover {
      color: $brand-pink;
    }
  }
}

.brand-green-bg {
  .btn {
    &.brand-white-bg, &.ghost.brand-white:hover {
      color: $brand-green;
    }
  }
}

.brand-darkgray-bg {
  .btn {
    &.brand-white-bg, &.ghost.brand-white:hover {
      color: $brand-darkgray;
    }
  }
}

.brand-gray-bg {
  .btn {
    &.brand-white-bg, &.ghost.brand-white:hover {
      color: $brand-gray;
    }
  }
}

.brand-offwhite-bg {
  .btn {
    &.brand-white-bg, &.ghost.brand-white:hover {
      color: $brand-gray;
    }
  }
}

.btn.inline + .btn.inline {
  margin-left: $gutter;
}
