.brand-pink-bg {
  background-color: $brand-pink;
  color: #fff;
}

.brand-light-pink-bg {
  background-color: $brand-light-pink;
  color: #fff;
}
    
.brand-orange-bg {
  background-color: $brand-orange;
  color: #fff;
}

.brand-light-orange-bg {
  background-color: $brand-light-orange;
  color: #fff;
}

.brand-teal-bg {
  background-color: $brand-teal;
  color: #fff;
}

.brand-light-teal-bg {
  background-color: $brand-light-teal;
  color: #fff;
}

.brand-purple-bg {
  background-color: $brand-purple;
  color: #fff;
}

.brand-light-purple-bg {
  background-color: $brand-light-purple;
  color: #fff;
}

.brand-dark-purple-bg {
  background-color: $brand-dark-purple;
  color: #fff;
}

.brand-green-bg {
  background-color: $brand-green;
  color: #fff;
}

.brand-gray-bg {
  background-color: $brand-gray;
  color: #fff;
}

.brand-darkgray-bg {
  background-color: #222;
  color: #fff;
}

.brand-offwhite-bg {
  background-color: $brand-offwhite;
  color: #333;
}

.brand-white-bg {
  background-color: #fff;
  color: #333;
}

.transparent-bg {
  background-color: transparent;
}

.brand-pink {
  color: $brand-pink;
}

.brand-orange {
  color: $brand-orange;
}

.brand-teal {
  color: $brand-teal;
}

.brand-purple {
  color: $brand-purple;
}

.brand-light-purple {
  color: $brand-light-purple;
}

.brand-dark-purple {
  color: $brand-dark-purple;
}

.brand-green {
  color: $brand-green;
}

.brand-gray {
  color: $brand-gray;
}

.brand-offwhite {
  color: $brand-offwhite;
}

.brand-white {
  color: #fff;
}
