/***************/
/**** Forms ****/
/***************/

form {
  display: block;
  margin: 0;
}

input[type='text'], input[type='number'], input[type='email'], input[type='password'], input[type='phone'], textarea {
  display: block;
  width: 100%;
  height: 3.2857em;
  border: solid 1px $brand-gray;
  padding: .71425em;
  font-size: .875em;
  outline: none;
  transition: border-color .2s;
  -webkit-transition: border-color .2s;
  -moz-transition: border-color .2s;
  font-family: "proxima-nova", Arial, sans-serif;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  box-shadow: none;
  
  &:focus {
    border-color: #555;
  }
}

input.inline {
  display: inline-block;
}

textarea {
  height: 7em;
  max-width: 100%;
}

input[type='submit'], input[type="button"] {
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  
  .error-animate {
    -webkit-animation: button-error .2s;
    animation: button-error .2s;
  }
}

label {
  display: block;
  font-family: $font-secondary;
  font-style: italic;
  color: $brand-gray;
  margin-bottom: 0.5 * $gutter;
}

.input-group {
  display: table;
  
  input {
    display: table-cell;
    
    &:first-child {
      border-right: none;
    }
    
    &:last-child {
      border-left: none;
    }
  }
  
  .prefix, .postfix {
    display: table-cell;
    width: 1%;
    height: 3.8333333em;
    background-color: $brand-offwhite;
    line-height: 3.6666666em;
    padding: 0 10px;
    text-align: center;
    border: solid 1px $brand-gray;
    font-size: .75em;
    color: $brand-gray;
  }
}

.inline-form {
  input {
    display: inline-block;
    margin-right: $gutter;
    width: auto;
    
    &:last-child {
      margin-right: 0;
    }
  }
  
  .select {
    width: auto;
    display: inline-block;
    vertical-align: middle;
    margin-right: $gutter;
    
    select {
      padding-right: 1.875em;
    }
  }
}

/************************************/
/**** Checkbox and Radio Buttons ****/
/************************************/

input[type="radio"], input[type="checkbox"] {
  position: absolute;
  left: -10000px;
}

input[type="radio"] {
  &:checked + label.radio {
    color: $brand-pink;
    
    &:before {
      background: $brand-pink;
      border-color: $brand-pink;
    }
  }
}

input[type="checkbox"] {
  &:checked + label.checkbox {
    color: $text-color;
    
    &:before {
      content: '\e607';
      font-family: "oi-icons";
      color: $brand-pink;
      border-color: $brand-pink;
    }
  }
}

label.radio, label.checkbox {
  font-family: "proxima-nova", Arial, sans-serif;
  font-style: normal;
  position: relative;
  cursor: pointer;
  line-height: 1em;
  
  &:before {
    content: '';
    display: block;
    border: solid 1px $brand-gray;
    width: .75em;
    height: .75em;
    line-height: .75em;
    text-align: center;
    position: absolute;
    left: 0;
  }
  
  &.inline {
    display: inline-block;
    margin-right: $gutter;
    
    &:last-of-type {
      margin-right: 0;
    }
  }
  
  &.small {
    font-size: .8125em;
    
    &:before {
      width: .75em;
      height: .75em;
      line-height: .75em;
    }
  }
}

label.radio {
  padding-left: 1.25em;
  
  &:before {
    border-radius: 100%;
  }
  
  &:hover {
    color: $brand-pink;
    
    &:before {
      border-color: $brand-pink;
    }
  }
}

label.checkbox {
  padding-left: 1.375em;
  
  &:hover {
    color: $text-color;
    
    &:before {
      border-color: $text-color;
    }
  }
}



.ie-placeholder { /* for IE8 and 9 placeholder fix */
  font-family: $font-secondary !important;
  font-style: italic !important;
  color: $brand-gray !important;
}

@-webkit-keyframes button-error {
  0% {
    transform: translate(0px);
    -webkit-transform: translate(0px);
  }
  25% {
    transform: translate(5px);
    -webkit-transform: translate(5px);
  }
  50% {
    transform: translate(0px);
    -webkit-transform: translate(0px);
  }
  75% {
    transform: translate(-5px);
    -webkit-transform: translate(-5px);
  }
  100% {
    transform: translate(0px);
    -webkit-transform: translate(0px);
  }
}

@keyframes button-error {
  0% {
    transform: translate(0px);
    -webkit-transform: translate(0px);
  }
  12.5% {
    transform: translate(5px);
    -webkit-transform: translate(5px);
  }
  25% {
    transform: translate(0px);
    -webkit-transform: translate(0px);
  }
  37.5% {
    transform: translate(-5px);
    -webkit-transform: translate(-5px);
  }
  50% {
    transform: translate(0px);
    -webkit-transform: translate(0px);
  }
}

/**********************/
/**** Select boxes ****/
/**********************/

.select {
  display: block;
  border: solid 1px $brand-gray;
  padding: .625em;
  line-height: 1.5em;
  height: 2.875em;
  background: #fff url('images/oi-select-arrow.png') no-repeat right center;
  overflow: hidden;
  width: 100%;
  text-align: left;
  transition: border-color .2s;
  -webkit-transition: border-color .2s;
  -moz-transition: border-color .2s;
  
  &.focus {
    border-color: #555;
  }
  
  select {
    background: transparent;
    border: none;
    border-radius: 0;
    color: $text-color;
    font-size: .875em;
    height: 1.625em;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    width: 150%;
    outline: none;
    
    &::-ms-expand {
      display: none;
    }
  }
}

select {
  font-family: $font-primary;
  
  &.select-placeholder {
    font-family: $font-secondary;
    font-style: italic;
    color: $brand-gray;
  }
}

/*********************/
/**** Alert boxes ****/
/*********************/

div.alert {
  padding: 0.5 * $gutter $gutter;
  font-size: .875em;
  margin-bottom: $gutter;
  background-color: $brand-offwhite;
  color: $text-color-secondary;
  
  &.success {
    background-color: $brand-green;
    color: #fff;
  }
  
  &.warning {
    background-color: $brand-orange;
    color: #fff;
  }
  
  &.error {
    background-color: #ee3300;
    color: #fff;
  }
  
  *:first-child {
    margin-top: 0.5 * $gutter;
  }
  
  *:last-child {
    margin-bottom: 0.5 * $gutter;
  }
}
