/***************/
/**** Forms ****/
/***************/

input[type='text'], input[type='number'], input[type='email'], input[type='password'], input[type='phone'], textarea {
  display: block;
  width: 100%;
  height: 46px;
  border: solid 1px #8f8e8c;
  padding: 10px;
  font-size: 14px;
  outline: none;
  transition: border-color .2s;
  -webkit-transition: border-color .2s;
  -moz-transition: border-color .2s;
  font-family: "proxima-nova", Arial, sans-serif;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  box-shadow: none;
  
  &:focus {
    border-color: #555;
  }
}

input.inline {
  display: inline-block;
}

textarea {
  height: 100px;
  max-width: 100%;
}

input[type='submit'], input[type="button"] {
  display: block;
  width: 100%;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  
  .error-animate {
    -webkit-animation: button-error .2s;
    animation: button-error .2s;
  }
}

label {
  display: block;
  font-family: $font-secondary;
  font-style: italic;
  color: $brand-gray;
  margin-bottom: 0.5 * $gutter;
}

/************************************/
/**** Checkbox and Radio Buttons ****/
/************************************/

input[type="radio"], input[type="checkbox"] {
  position: absolute;
  left: -10000px;
}

input[type="radio"] {
  &:checked + label.radio {
    color: $brand-pink;
    
    &:before {
      background: $brand-pink;
      border-color: $brand-pink;
    }
  }
}

input[type="checkbox"] {
  &:checked + label.checkbox {
    color: $text-color;
    
    &:before {
      content: '✓';
      color: $text-color;
      border-color: $text-color;
    }
  }
}

label.radio, label.checkbox {
  font-family: "proxima-nova", Arial, sans-serif;
  font-style: normal;
  position: relative;
  cursor: pointer;
  line-height: 16px;
  
  &:before {
    content: '';
    display: block;
    border: solid 1px $brand-gray;
    width: 12px;
    height: 12px;
    text-align: center;
    line-height: 16px;
    position: absolute;
    left: 0;
  }
  
  &.inline {
    display: inline-block;
    margin-right: $gutter;
    
    &:last-of-type {
      margin-right: 0;
    }
  }
  
  &.small {
    font-size: 12px;
    padding-left: 18px;
    
    &:before {
      width: 10px;
      height: 10px;
      line-height: 10px;
      top: 1px;
    }
  }
}

label.radio {
  padding-left: 20px;
  
  &:before {
    border-radius: 100%;
  }
  
  &:hover {
    color: $brand-pink;
    
    &:before {
      border-color: $brand-pink;
    }
  }
}

label.checkbox {
  padding-left: 25px;
  
  &:hover {
    color: $text-color;
    
    &:before {
      border-color: $text-color;
    }
  }
}



.ie-placeholder { /* for IE8 and 9 placeholder fix */
  font-family: "Times New Roman", serif !important;
  font-style: italic !important;
  color: #8f8e8c !important;
}

@-webkit-keyframes button-error {
  0% {
    transform: translate(0px);
    -webkit-transform: translate(0px);
  }
  25% {
    transform: translate(5px);
    -webkit-transform: translate(5px);
  }
  50% {
    transform: translate(0px);
    -webkit-transform: translate(0px);
  }
  75% {
    transform: translate(-5px);
    -webkit-transform: translate(-5px);
  }
  100% {
    transform: translate(0px);
    -webkit-transform: translate(0px);
  }
}

@keyframes button-error {
  0% {
    transform: translate(0px);
    -webkit-transform: translate(0px);
  }
  12.5% {
    transform: translate(5px);
    -webkit-transform: translate(5px);
  }
  25% {
    transform: translate(0px);
    -webkit-transform: translate(0px);
  }
  37.5% {
    transform: translate(-5px);
    -webkit-transform: translate(-5px);
  }
  50% {
    transform: translate(0px);
    -webkit-transform: translate(0px);
  }
}

.select {
  display: block;
  border: solid 1px #8f8e8c;
  padding: 10px 10px;
  line-height: 24px;
  height: 46px;
  background: #fff url('images/oi-select-arrow.png') no-repeat right center;
  overflow: hidden;
  width: 100%;
  text-align: left;
  transition: border-color .2s;
  -webkit-transition: border-color .2s;
  -moz-transition: border-color .2s;
  
  &.focus {
    border-color: #555;
  }
  
  select {
    background: transparent;
    border: none;
    border-radius: 0;
    color: #333;
    font-size: 14px;
    line-height: 26px;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    width: 150%;
    outline: none;
    
    &::-ms-expand {
      display: none;
    }
  }
}

select {
  font-family: "proxima-nova", Arial, sans-serif;
  
  &.select-placeholder {
    font-family: "Times New Roman", serif;
    font-style: italic;
    color: #8f8e8c;
  }
}
