* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-primary;
  font-size: 1em;
  color: $text-color;
}

hr {
  display: block;
  height: 1px;
  background-color: $brand-offwhite;
  border: none;
  margin: $gutter 0;
}

section {
  position: relative;
}

.brand-offwhite-bg hr {
  background-color: $brand-gray;
}

.flex-video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  width: 100%;
}

.flex-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bordered {
  border: solid 1px;
}

.circle {
  border-radius: 100%;
}

.inline-block {
  display: inline-block;
}

img.block {
  display: block;
  width: 100%;
}

button.reset {
  padding: 0;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  appearance: none;
  font-size: 1em;
}

.loading-indicator {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url('images/loading-indicator.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
  animation: loading-spinner 1s steps(12, end) infinite;
  
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image: url('images/loading-indicator-2x.png');
  }
  
  &.white {
    background-image: url('images/loading-indicator-white.png');
    
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: url('images/loading-indicator-white-2x.png');
    }
  }
}

.brand-purple-bg,
.brand-pink-bg,
.brand-orange-bg,
.brand-green-bg,
.brand-teal-bg {
  &.loading-indicator,
  .loading-indicator {
    background-image: url('images/loading-indicator-white.png');
    
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: url('images/loading-indicator-white-2x.png');
    }
  }
}

@keyframes loading-spinner {
  to {
    transform: rotate(360deg);
  }
}

table {
  border-collapse: collapse;
  width: 100%;
}

thead {
  th {
    border-right: solid 1px $brand-almostwhite;
    
    &:last-child {
      border-right-color: $brand-offwhite;
    }
  }
}

thead + tbody {
  tr {
    &:nth-child(even) {
      background-color: $brand-almostwhite;
    }
    
    &:nth-child(odd) {
      background-color: inherit;
    }
  }
}

tbody {
  tr {
    &:nth-child(odd) {
      background-color: $brand-almostwhite;
    }
    
    &:last-child {
      th {
        border-bottom-color: $brand-offwhite;
      }
    }
  }
}

tfoot {
  border-top: solid 4px $brand-gray;
}

tr {
  &:first-child {
    th {
      border-top: none;
    }
  }
  
  &.section-separator {
    td, th {
      border-top-width: 4px;
    }
  }
  
  &.brand-purple-bg {
    td, th {
      background-color: $brand-purple;
    }
  }
  
  &.brand-teal-bg {
    td, th {
      background-color: $brand-teal;
    }
  }
  &.brand-pink-bg {
    td, th {
      background-color: $brand-pink;
    }
  }
  &.brand-orange-bg {
    td, th {
      background-color: $brand-orange;
    }
  }
  &.brand-darkgray-bg {
    td, th {
      background-color: $brand-darkgray;
    }
  }
}

td {
  padding: 10px 20px;
  border: solid 1px $brand-offwhite;
}

th {
  text-align: left;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-size: .875em;
  padding: 10px 20px;
  background-color: $brand-offwhite;
  border-top: solid 1px $brand-almostwhite;
}

td, th {
  &.hide {
    border: none;
    background-color: transparent !important;
  }
}
