* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-primary;
  font-size: 1em;
  color: $text-color;
}

hr {
  display: block;
  height: 2px;
  background-color: $brand-offwhite;
  border: none;
  margin: 2 * $mobile-gutter 0;
  
  &.large {
    height: 5px;
  }
  
  &.decorative {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  
  @media (min-width: 480px) {
    margin: 2 * $gutter 0;
  }
}

.brand-offwhite-bg hr {
  background-color: $brand-gray;
}

section {
  position: relative;
}

.flex-video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  width: 100%;
}

.flex-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bordered {
  border: solid 1px;
}

.circle {
  border-radius: 100%;
}

.inline-block {
  display: inline-block;
}

img.block {
  display: block;
  width: 100%;
}

button.reset {
  padding: 0;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  appearance: none;
  font-size: 1em;
}

.loading-indicator {
  &:before {
    content: '';
    display: inline-block;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border-top: solid 5px $brand-purple;
    border-right: solid 5px $brand-teal;
    border-bottom: solid 5px $brand-pink;
    border-left: solid 5px $brand-orange;
    transform: translateZ(0);
    animation: spin 1.25s infinite cubic-bezier(.5,.25,.5,.75);
  }
  
  &.large:before {
    height: 40px;
    width: 40px;
  }
  
  &.small:before {
    height: 20px;
    width: 20px;
  }
}

[class*='brand-'][class*='-bg']:not(.brand-offwhite-bg):not(.brand-darkgray-bg):not(.brand-dark-gray-bg) .loading-indicator,
.loading-indicator.monochromatic {
  &:before {
    border-top-color: rgba(255,255,255,.125);
    border-right-color: rgba(255,255,255,.25);
    border-bottom-color: rgba(255,255,255,.5);
    border-left-color: rgba(255,255,255,.75);
  }
}

.btn .loading {
  display: inline-block;
  padding-left: 2.5em;
  position: relative;
  
  &:before {
    position: absolute;
    left: 0;
    height: 2em;
    width: 2em;
    vertical-align: middle;
    top: -.3125em;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

.responsive-table {
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}

thead {
  th {
    border-right: solid 1px $brand-almostwhite;
    
    &:last-child {
      border-right-color: $brand-offwhite;
    }
  }
}

thead + tbody {
  tr {
    &:nth-child(even) {
      background-color: $brand-almostwhite;
    }
    
    &:nth-child(odd) {
      background-color: inherit;
    }
  }
}

tbody {
  tr {
    &:nth-child(odd) {
      background-color: $brand-almostwhite;
    }
    
    &:last-child {
      th {
        border-bottom-color: $brand-offwhite;
      }
    }
  }
}

tfoot {
  border-top: solid 4px $brand-gray;
}

tr {
  &:first-child {
    th {
      border-top: none;
    }
  }
  
  &.section-separator {
    td, th {
      border-top-width: 4px;
    }
  }
  
  &.brand-purple-bg {
    td, th {
      background-color: $brand-purple;
    }
  }
  
  &.brand-teal-bg {
    td, th {
      background-color: $brand-teal;
    }
  }
  &.brand-pink-bg {
    td, th {
      background-color: $brand-pink;
    }
  }
  &.brand-orange-bg {
    td, th {
      background-color: $brand-orange;
    }
  }
  &.brand-darkgray-bg {
    td, th {
      background-color: $brand-darkgray;
    }
  }
}

td {
  padding: 10px 20px;
  border: solid 1px $brand-offwhite;
}

th {
  text-align: left;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-size: .875em;
  padding: 10px 20px;
  background-color: $brand-offwhite;
  border-top: solid 1px $brand-almostwhite;
}

td, th {
  &.hide {
    border: none;
    background-color: transparent !important;
  }
}


/***************/
/**** Logos ****/
/***************/

.oi-logo {
  width: 215px;
  height: 75px;
  background-image: url('images/logo-onwhite-sprite.png');
  background-repeat: no-repeat;
  background-position: left 0%;
  background-size: auto 500%;
  
  &:not(div) {
    display: inline-block;
  }
  
  &.block {
    display: block;
  }
  
  &.australia {
    background-image: url('images/logo-au-onwhite-sprite.png');
  }
  
  &.canada {
    background-image: url('images/logo-ca-onwhite-sprite.png');
  }
  
  @media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi) {
    background-image: url('images/logo-onwhite-sprite-2x.png');
    
    &.australia {
      background-image: url('images/logo-au-onwhite-sprite-2x.png');
    }
    
    &.canada {
      background-image: url('images/logo-ca-onwhite-sprite-2x.png');
    }
  }
  
  &.small {
    width: 126px;
    height: 40px;
    background-image: url('images/logo-onwhite-sprite-mobile.png');
    
    &.australia {
      background-image: url('images/logo-au-onwhite-sprite-mobile.png');
    }
    
    &.canada {
      background-image: url('images/logo-ca-onwhite-sprite-mobile.png');
    }
    
    @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi) {
      background-image: url('images/logo-onwhite-sprite-mobile-2x.png');
      
      &.australia {
        background-image: url('images/logo-au-onwhite-sprite-mobile-2x.png');
      }
      
      &.canada {
        background-image: url('images/logo-ca-onwhite-sprite-mobile-2x.png');
      }
    }
  }
  
  &.on-dark {
    background-image: url('images/logo-ondark-sprite.png');
    
    &.australia {
      background-image: url('images/logo-au-ondark-sprite.png');
    }
    
    &.canada {
      background-image: url('images/logo-ca-ondark-sprite.png');
    }
    
    @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi) {
      background-image: url('images/logo-ondark-sprite-2x.png');
      
      &.australia {
        background-image: url('images/logo-au-ondark-sprite-2x.png');
      }
      
      &.canada {
        background-image: url('images/logo-ca-ondark-sprite-2x.png');
      }
    }
    
    &.small {
      background-image: url('images/logo-ondark-sprite-mobile.png');
      
      &.australia {
        background-image: url('images/logo-au-ondark-sprite-mobile.png');
      }
      
      &.canada {
        background-image: url('images/logo-ca-ondark-sprite-mobile.png');
      }
      
      @media only screen and (-webkit-min-device-pixel-ratio: 2),
      only screen and (min-resolution: 192dpi) {
        background-image: url('images/logo-ondark-sprite-mobile-2x.png');
        
        &.australia {
          background-image: url('images/logo-au-ondark-sprite-mobile-2x.png');
        }
        
        &.canada {
          background-image: url('images/logo-ca-ondark-sprite-mobile-2x.png');
        }
      }
    }
  }
  
  &.brand-purple {
    background-position: left 25%;
  }
  
  &.brand-teal {
    background-position: left 50%;
  }
  
  &.brand-orange {
    background-position: left 75%;
  }
  
  &.brand-pink {
    background-position: left 100%;
  }
}
