* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-primary;
  font-size: 1em;
  color: $text-color;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.clear {
  clear: both;
}

hr {
  display: block;
  height: 1px;
  background-color: $brand-offwhite;
  border: none;
  margin: $gutter 0;
}

.brand-offwhite-bg hr {
  background-color: $brand-gray;
}

.flex-video {
  position: relative;
  padding-bottom: 53.125%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  width: 100%;
}

.flex-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
