/************************/
/**** Grid 12 system ****/
/************************/

.row {
  margin-left: -0.5 * $mobile-gutter;
  margin-right: -0.5 * $mobile-gutter;
  margin-bottom: 0;
  
  @media (min-width: 480px) {
    margin-left: -0.5 * $gutter;
    margin-right: -0.5 * $gutter;  
  }
  
  @media (min-width: 1024px) {
    margin-bottom: $gutter;
  }
  
  &.large-gutter {
    margin-left: -$mobile-gutter;
    margin-right: -$mobile-gutter;
    margin-bottom: 0;
    
    @media (min-width: 480px) {
      margin-left: -$gutter;
      margin-right: -$gutter;
    }
    
    @media (min-width: 1024px) {
      margin-bottom: 2 * $gutter;
      
      &:last-child {
        margin-bottom: 0;
      }
    }
    
    > .col {
      padding-left: $mobile-gutter;
      padding-right: $mobile-gutter;
      margin-bottom: 2 * $mobile-gutter;
      
      @media (min-width: 480px) {
        padding-left: $gutter;
        padding-right: $gutter;
        margin-bottom: 2 * $gutter;
      }
      
      @media (min-width: 1024px) {
        margin-bottom: 0;
      }
    }
  }
  
  &.small-gutter {
    margin-left: -0.25 * $gutter;
    margin-right: -0.25 * $gutter;
    margin-bottom: 0;
    
    @media (min-width: 1024px) {
      margin-bottom: 0.5 * $gutter;
      
      &:last-child {
        margin-bottom: 0;
      }
    }
    
    > .col {
      padding-left: .25 * $gutter;
      padding-right: .25 * $gutter;
      margin-bottom: 0.5 * $gutter;
      
      @media (min-width: 1024px) {
        margin-bottom: 0;
      }
    }
  }
  
  &:last-child {
    margin-bottom: 0;
  }
  
  &.no-gutter {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    
    > .col {
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 0;
    }
  }
  
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  
  &:after {
    clear: both;
  }
  
  > .col {
    padding-left: 0.5 * $mobile-gutter;
    padding-right: 0.5 * $mobile-gutter;
    margin-bottom: $mobile-gutter;
    float: left;
    
    @media (min-width: 480px) {
      padding-left: 0.5 * $gutter;
      padding-right: 0.5 * $gutter;
      margin-bottom: $gutter;
    }
    
    @media (min-width: 1024px) {
      margin-bottom: 0;
    }
    
    @include columns(12, 'm-');
    
    @media (min-width: 480px) {
      @include columns(12, 't-');
    }
    
    @media (min-width: 800px) {
      @include columns(12, 'n-');
    }
    
    @media (min-width: 1024px) {
      @include columns(12);
    }
  }
}

/************************/
/**** Grid 10 system ****/
/************************/

.row.grid-10 {
  > .col {
    @include columns(10, 'm-');
    
    @media (min-width: 480px) {
      @include columns(10, 't-');
    }
    
    @media (min-width: 800px) {
      @include columns(10, 'n-');
    }
    
    @media (min-width: 1024px) {
      @include columns(10);
    }
  }
}
