/************************/
/**** Grid 12 system ****/
/************************/

.row {
  margin-left: -0.5 * $gutter;
  margin-right: -0.5 * $gutter;
  margin-bottom: $gutter;
  
  &.large-gutter {
    margin-left: -$gutter;
    margin-right: -$gutter;
    margin-bottom: 2 * $gutter;
    
    .col {
      padding-left: $gutter;
      padding-right: $gutter;
    }
  }
  
  &:last-child {
    margin-bottom: 0;
  }
  
  &.no-gutter {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    
    .col {
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 0;
    }
  }
  
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  
  &:after {
    clear: both;
  }
}

.col {
  padding-left: 0.5 * $gutter;
  padding-right: 0.5 * $gutter;
  float: left;
  
  &.col-12 {
    width: 12/12 * 100%;
  }
  
  &.col-11 {
    width: 11/12 * 100%;
  }
  
  &.col-10 {
    width: 10/12 * 100%;
  }
  
  &.col-9 {
    width: 9/12 * 100%;
  }
  
  &.col-8 {
    width: 8/12 * 100%;
  }
  
  &.col-7 {
    width: 7/12 * 100%;
  }
  
  &.col-6 {
    width: 6/12 * 100%;
  }
  
  &.col-5 {
    width: 5/12 * 100%;
  }
  
  &.col-4 {
    width: 4/12 * 100%;
  }
  
  &.col-3 {
    width: 3/12 * 100%;
  }
  
  &.col-2 {
    width: 2/12 * 100%;
  }
  
  &.col-1 {
    width: 1/12 * 100%;
  }
}

@media (max-width: 960px) {
  .row {
    margin-bottom: 0;
    
    &:after {
      clear: none;
    }
    
    &.large-gutter {
      margin-bottom: 0;
      
      .col {
        margin-bottom: 2 * $gutter;
      }
    }
    
    .col {
      margin-bottom: $gutter;
      
      &.n-col-12 {
        width: 12/12 * 100%;
      }
      
      &.n-col-11 {
        width: 11/12 * 100%;
      }
      
      &.n-col-10 {
        width: 10/12 * 100%;
      }
      
      &.n-col-9 {
        width: 9/12 * 100%;
      }
      
      &.n-col-8 {
        width: 8/12 * 100%;
      }
      
      &.n-col-7 {
        width: 7/12 * 100%;
      }
      
      &.n-col-6 {
        width: 6/12 * 100%;
      }
      
      &.n-col-5 {
        width: 5/12 * 100%;
      }
      
      &.n-col-4 {
        width: 4/12 * 100%;
      }
      
      &.n-col-3 {
        width: 3/12 * 100%;
      }
      
      &.n-col-2 {
        width: 2/12 * 100%;
      }
      
      &.n-col-1 {
        width: 1/12 * 100%;
      }
    }
  }
}

@media (max-width: 768px) {
  .row {
    margin-bottom: 0;
    
    .col {
      margin-bottom: $gutter;
      
      &.t-col-12 {
        width: 12/12 * 100%;
      }
      
      &.t-col-11 {
        width: 11/12 * 100%;
      }
      
      &.t-col-10 {
        width: 10/12 * 100%;
      }
      
      &.t-col-9 {
        width: 9/12 * 100%;
      }
      
      &.t-col-8 {
        width: 8/12 * 100%;
      }
      
      &.t-col-7 {
        width: 7/12 * 100%;
      }
      
      &.t-col-6 {
        width: 6/12 * 100%;
      }
      
      &.t-col-5 {
        width: 5/12 * 100%;
      }
      
      &.t-col-4 {
        width: 4/12 * 100%;
      }
      
      &.t-col-3 {
        width: 3/12 * 100%;
      }
      
      &.t-col-2 {
        width: 2/12 * 100%;
      }
      
      &.t-col-1 {
        width: 1/12 * 100%;
      }
    }
  }
}

@media (max-width: 480px) {
  .row {
    
    .col {
      &.m-col-12 {
        width: 12/12 * 100%;
      }
      
      &.m-col-11 {
        width: 11/12 * 100%;
      }
      
      &.m-col-10 {
        width: 10/12 * 100%;
      }
      
      &.m-col-9 {
        width: 9/12 * 100%;
      }
      
      &.m-col-8 {
        width: 8/12 * 100%;
      }
      
      &.m-col-7 {
        width: 7/12 * 100%;
      }
      
      &.m-col-6 {
        width: 6/12 * 100%;
      }
      
      &.m-col-5 {
        width: 5/12 * 100%;
      }
      
      &.m-col-4 {
        width: 4/12 * 100%;
      }
      
      &.m-col-3 {
        width: 3/12 * 100%;
      }
      
      &.m-col-2 {
        width: 2/12 * 100%;
      }
      
      &.m-col-1 {
        width: 1/12 * 100%;
      }
    }
  }
}
