.full-width {
  width: 100%;
}

.padding-0-1x {
  padding: 0 $gutter;
}

.padding-0-2x {
  padding: 0 2 * $gutter;
}

.padding-0-3x {
  padding: 0 3 * $gutter;
}

.padding-0-4x {
  padding: 0 4 * $gutter;
}

.padding-1x-4x {
  padding: $gutter 4 * $gutter;
}

.padding-1x-3x {
  padding: $gutter 3 * $gutter;
}

.padding-1x-2x {
  padding: $gutter 2 * $gutter;
}

.padding-1x {
  padding: $gutter;
}

.padding-1x-0 {
  padding: $gutter 0;
}

.padding-2x-4x {
  padding: 2 * $gutter 4 * $gutter
}

.padding-2x-3x {
  padding: 2 * $gutter 3 * $gutter
}

.padding-2x {
  padding: 2 * $gutter;
}

.padding-2x-1x {
  padding: 2 * $gutter $gutter
}

.padding-2x-0 {
  padding: 2 * $gutter 0;
}

.padding-3x-4x {
  padding: 3 * $gutter 4 * $gutter;
}

.padding-3x {
  padding: 3 * $gutter;
}

.padding-3x-2x {
  padding: 3 * $gutter 2 * $gutter;
}

.padding-3x-1x {
  padding: 3 * $gutter $gutter;
}

.padding-3x-0 {
  padding: 3 * $gutter 0;
}

.padding-4x {
  padding: 4 * $gutter;
}

.padding-4x-3x {
  padding: 4 * $gutter 3 * $gutter;
}

.padding-4x-2x {
  padding: 4 * $gutter 2 * $gutter;
}

.padding-4x-1x {
  padding: 4 * $gutter $gutter;
}

.padding-4x-0 {
  padding: 4 * $gutter 0;
}
