.full-width {
  width: 100%;
}

section {
  position: relative;
}

/**************************/
/*** Container classes ****/
/**************************/

.contained-1260 {
  max-width: 1260px;
}

.contained-960 {
  max-width: 960px;
}

.contained-680 {
  max-width: 680px;
}

.contained-480 {
  max-width: 480px;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

/*************************/
/**** Padding classes ****/
/*************************/

.padding-0-1x {
  padding: 0 $gutter;
}

.padding-0-2x {
  padding: 0 2 * $gutter;
}

.padding-0-3x {
  padding: 0 3 * $gutter;
}

.padding-0-4x {
  padding: 0 4 * $gutter;
}

.padding-1x-4x {
  padding: $gutter 4 * $gutter;
}

.padding-1x-3x {
  padding: $gutter 3 * $gutter;
}

.padding-1x-2x {
  padding: $gutter 2 * $gutter;
}

.padding-1x {
  padding: $gutter;
}

.padding-1x-0 {
  padding: $gutter 0;
}

.padding-2x-4x {
  padding: 2 * $gutter 4 * $gutter
}

.padding-2x-3x {
  padding: 2 * $gutter 3 * $gutter
}

.padding-2x {
  padding: 2 * $gutter;
}

.padding-2x-1x {
  padding: 2 * $gutter $gutter
}

.padding-2x-0 {
  padding: 2 * $gutter 0;
}

.padding-3x-4x {
  padding: 3 * $gutter 4 * $gutter;
}

.padding-3x {
  padding: 3 * $gutter;
}

.padding-3x-2x {
  padding: 3 * $gutter 2 * $gutter;
}

.padding-3x-1x {
  padding: 3 * $gutter $gutter;
}

.padding-3x-0 {
  padding: 3 * $gutter 0;
}

.padding-4x {
  padding: 4 * $gutter;
}

.padding-4x-3x {
  padding: 4 * $gutter 3 * $gutter;
}

.padding-4x-2x {
  padding: 4 * $gutter 2 * $gutter;
}

.padding-4x-1x {
  padding: 4 * $gutter $gutter;
}

.padding-4x-0 {
  padding: 4 * $gutter 0;
}

.padding-6x {
  padding: 6 * $gutter;
}

.padding-6x-0 {
  padding: 6 * $gutter 0;
}

.padding-6x-1x {
  padding: 6 * $gutter $gutter;
}

.padding-6x-2x {
  padding: 6 * $gutter 2 * $gutter;
}

.padding-6x-3x {
  padding: 6 * $gutter 3 * $gutter;
}

.padding-6x-4x {
  padding: 6 * $gutter 4 * $gutter;
}

.padding-6x-5x {
  padding: 6 * $gutter 5 * $gutter;
}

@media (max-width: 480px) {

  .padding-0-1x {
    padding: 0 $mobile-gutter;
  }

  .padding-0-2x {
    padding: 0 2 * $mobile-gutter;
  }

  .padding-0-3x {
    padding: 0 3 * $mobile-gutter;
  }

  .padding-0-4x {
    padding: 0 4 * $mobile-gutter;
  }

  .padding-1x-4x {
    padding: $mobile-gutter 4 * $mobile-gutter;
  }

  .padding-1x-3x {
    padding: $mobile-gutter 3 * $mobile-gutter;
  }

  .padding-1x-2x {
    padding: $mobile-gutter 2 * $mobile-gutter;
  }

  .padding-1x {
    padding: $mobile-gutter;
  }

  .padding-1x-0 {
    padding: $mobile-gutter 0;
  }

  .padding-2x-4x {
    padding: 2 * $mobile-gutter 4 * $mobile-gutter
  }

  .padding-2x-3x {
    padding: 2 * $mobile-gutter 3 * $mobile-gutter
  }

  .padding-2x {
    padding: 2 * $mobile-gutter;
  }

  .padding-2x-1x {
    padding: 2 * $mobile-gutter $mobile-gutter
  }

  .padding-2x-0 {
    padding: 2 * $mobile-gutter 0;
  }

  .padding-3x-4x {
    padding: 3 * $mobile-gutter 4 * $mobile-gutter;
  }

  .padding-3x {
    padding: 3 * $mobile-gutter;
  }

  .padding-3x-2x {
    padding: 3 * $mobile-gutter 2 * $mobile-gutter;
  }

  .padding-3x-1x {
    padding: 3 * $mobile-gutter $mobile-gutter;
  }

  .padding-3x-0 {
    padding: 3 * $mobile-gutter 0;
  }

  .padding-4x {
    padding: 4 * $mobile-gutter;
  }

  .padding-4x-3x {
    padding: 4 * $mobile-gutter 3 * $mobile-gutter;
  }

  .padding-4x-2x {
    padding: 4 * $mobile-gutter 2 * $mobile-gutter;
  }

  .padding-4x-1x {
    padding: 4 * $mobile-gutter $mobile-gutter;
  }

  .padding-4x-0 {
    padding: 4 * $mobile-gutter 0;
  }
  
  .padding-6x {
    padding: 6 * $mobile-gutter;
  }

  .padding-6x-0 {
    padding: 6 * $mobile-gutter 0;
  }

  .padding-6x-1x {
    padding: 6 * $mobile-gutter $mobile-gutter;
  }

  .padding-6x-2x {
    padding: 6 * $mobile-gutter 2 * $mobile-gutter;
  }

  .padding-6x-3x {
    padding: 6 * $mobile-gutter 3 * $mobile-gutter;
  }

  .padding-6x-4x {
    padding: 6 * $mobile-gutter 4 * $mobile-gutter;
  }

  .padding-6x-5x {
    padding: 6 * $mobile-gutter 5 * $mobile-gutter;
  }
}


/************************/
/**** Margin classes ****/
/************************/

.margin-bottom-4x {
  margin-bottom: 4 * $gutter;
}

.margin-bottom-3x {
  margin-bottom: 3 * $gutter;
}

.margin-bottom-2x {
  margin-bottom: 2 * $gutter;
}

.margin-bottom-1x {
  margin-bottom: 1 * $gutter;
}

.margin-bottom-0 {
  margin-bottom: 0;
}

.margin-top-4x {
  margin-top: 4 * $gutter;
}

.margin-top-3x {
  margin-top: 3 * $gutter;
}

.margin-top-2x {
  margin-top: 2 * $gutter;
}

.margin-top-1x {
  margin-top: 1 * $gutter;
}

.margin-top-0 {
  margin-top: 0;
}

/*************************/
/**** Display classes ****/
/*************************/

.desktop-only {
  display: block;
}

.netbook-only {
  display: none;
}

.tablet-only {
  display: none;
}

.mobile-only {
  display: none;
}

.no-desktop {
  display: none;
}

@media (max-width: 960px) {
  .desktop-only {
    display: none;
  }
  
  .netbook-only {
    display: block;
  }
  
  .tablet-only {
    display: none;
  }
  
  .mobile-only {
    display: none;
  }
  
  .no-netbook {
    display: none;
  }
}

@media (max-width: 768px) {
  .desktop-only {
    display: none;
  }
  
  .netbook-only {
    display: none;
  }
  
  .tablet-only {
    display: block;
  }
  
  .mobile-only {
    display: none;
  }
  
  .no-tablet {
    display: none;
  }
}

@media (max-width: 480px) {
  .desktop-only {
    display: none;
  }
  
  .netbook-only {
    display: none;
  }
  
  .tablet-only {
    display: none;
  }
  
  .mobile-only {
    display: block;
  }
  
  .no-mobile {
    display: none;
  }
}

/***************************/
/**** Background images ****/
/***************************/

.bg-image {
  background-size: cover;
  background-position: center;
  position: relative;
  
  &.left {
    background-position: left center;
    
    &.top {
      background-position: left top;
    }
    
    &.bottom {
      background-position: left bottom;
    }
  }
  
  &.right {
    background-position: right center;
    
    &.top {
      background-position: right top;
    }
    
    &.bottom {
      background-position: right bottom;
    }
  }
  
  &.top {
    background-position: center top;
  }
  
  &.bottom {
    background-position: center bottom;
  }
  
  &.overlay {
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    
    &.brand-purple-bg {
      &:before {
        background-color: rgba(97,17,113,.9);
      }
      
      &.gradient:before {
        background: -moz-linear-gradient(top,  rgba(97,17,113,0) 0%, rgba(97,17,113,0) 25%, rgba(97,17,113,.75) 75%, rgba(97,17,113,.75) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(97,17,113,0)), color-stop(25%,rgba(97,17,113,0)), color-stop(75%,rgba(97,17,113,.75)), color-stop(100%,rgba(97,17,113,.75))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(97,17,113,0) 0%,rgba(97,17,113,0) 25%,rgba(97,17,113,.75) 75%,rgba(97,17,113,.75) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(97,17,113,0) 0%,rgba(97,17,113,0) 25%,rgba(97,17,113,.75) 75%,rgba(97,17,113,.75) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(97,17,113,0) 0%,rgba(97,17,113,0) 25%,rgba(97,17,113,.75) 75%,rgba(97,17,113,.75) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(97,17,113,0) 0%,rgba(97,17,113,0) 25%,rgba(97,17,113,.75) 75%,rgba(97,17,113,.75) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
      }
    }

    &.brand-pink-bg {
      &:before {
        background-color: rgba(236,2,126,.9);
      }
      
      &.gradient:before {
        background: -moz-linear-gradient(top,  rgba(236,2,126,0) 0%, rgba(236,2,126,0) 25%, rgba(236,2,126,.75) 75%, rgba(236,2,126,.75) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(236,2,126,0)), color-stop(25%,rgba(236,2,126,0)), color-stop(75%,rgba(236,2,126,.75)), color-stop(100%,rgba(236,2,126,.75))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(236,2,126,0) 0%,rgba(236,2,126,0) 25%,rgba(236,2,126,.75) 75%,rgba(236,2,126,.75) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(236,2,126,0) 0%,rgba(236,2,126,0) 25%,rgba(236,2,126,.75) 75%,rgba(236,2,126,.75) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(236,2,126,0) 0%,rgba(236,2,126,0) 25%,rgba(236,2,126,.75) 75%,rgba(236,2,126,.75) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(236,2,126,0) 0%,rgba(236,2,126,0) 25%,rgba(236,2,126,.75) 75%,rgba(236,2,126,.75) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
      }
    }

    &.brand-teal-bg {
      &:before {
        background-color: rgba(0,171,171,.9);
      }
      
      &.gradient:before {
        background: -moz-linear-gradient(top,  rgba(0,171,171,0) 0%, rgba(0,171,171,0) 25%, rgba(0,171,171,.75) 75%, rgba(0,171,171,.75) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,171,171,0)), color-stop(25%,rgba(0,171,171,0)), color-stop(75%,rgba(0,171,171,.75)), color-stop(100%,rgba(0,171,171,.75))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(0,171,171,0) 0%,rgba(0,171,171,0) 25%,rgba(0,171,171,.75) 75%,rgba(0,171,171,.75) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(0,171,171,0) 0%,rgba(0,171,171,0) 25%,rgba(0,171,171,.75) 75%,rgba(0,171,171,.75) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(0,171,171,0) 0%,rgba(0,171,171,0) 25%,rgba(0,171,171,.75) 75%,rgba(0,171,171,.75) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(0,171,171,0) 0%,rgba(0,171,171,0) 25%,rgba(0,171,171,.75) 75%,rgba(0,171,171,.75) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
      }
    }

    &.brand-orange-bg {
      &:before {
        background-color: rgba(240,92,34,.9);  
      }
      
      &.gradient:before {
        background: -moz-linear-gradient(top,  rgba(240,92,34,0) 0%, rgba(240,92,34,0) 25%, rgba(240,92,34,.75) 75%, rgba(240,92,34,.75) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,92,34,0)), color-stop(25%,rgba(240,92,34,0)), color-stop(75%,rgba(240,92,34,.75)), color-stop(100%,rgba(240,92,34,.75))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(240,92,34,0) 0%,rgba(240,92,34,0) 25%,rgba(240,92,34,.75) 75%,rgba(240,92,34,.75) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(240,92,34,0) 0%,rgba(240,92,34,0) 25%,rgba(240,92,34,.75) 75%,rgba(240,92,34,.75) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(240,92,34,0) 0%,rgba(240,92,34,0) 25%,rgba(240,92,34,.75) 75%,rgba(240,92,34,.75) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(240,92,34,0) 0%,rgba(240,92,34,0) 25%,rgba(240,92,34,.75) 75%,rgba(240,92,34,.75) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
      }
    }

    &.brand-green-bg {
      &:before {
        background-color: rgba(123,197,87,.9);
      }
      
      &.gradient:before {
        background: -moz-linear-gradient(top,  rgba(123,197,87,0) 0%, rgba(123,197,87,0) 25%, rgba(123,197,87,.75) 75%, rgba(123,197,87,.75) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(123,197,87,0)), color-stop(25%,rgba(123,197,87,0)), color-stop(75%,rgba(123,197,87,.75)), color-stop(100%,rgba(123,197,87,.75))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(123,197,87,0) 0%,rgba(123,197,87,0) 25%,rgba(123,197,87,.75) 75%,rgba(123,197,87,.75) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(123,197,87,0) 0%,rgba(123,197,87,0) 25%,rgba(123,197,87,.75) 75%,rgba(123,197,87,.75) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(123,197,87,0) 0%,rgba(123,197,87,0) 25%,rgba(123,197,87,.75) 75%,rgba(123,197,87,.75) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(123,197,87,0) 0%,rgba(123,197,87,0) 25%,rgba(123,197,87,.75) 75%,rgba(123,197,87,.75) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
      }
    }

    &.brand-white-bg {
      &:before {
        background-color: rgba(255,255,255,.9);
      }
      
      &.gradient:before {
        background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 25%, rgba(255,255,255,.75) 75%, rgba(255,255,255,.75) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(25%,rgba(255,255,255,0)), color-stop(75%,rgba(255,255,255,.75)), color-stop(100%,rgba(255,255,255,.75))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 25%,rgba(255,255,255,.75) 75%,rgba(255,255,255,.75) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 25%,rgba(255,255,255,.75) 75%,rgba(255,255,255,.75) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 25%,rgba(255,255,255,.75) 75%,rgba(255,255,255,.75) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 25%,rgba(255,255,255,.75) 75%,rgba(255,255,255,.75) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
      }
    }

    &.brand-offwhite-bg {
      &:before {
        background-color: rgba(239,238,234,.9);
      }
      
      &.gradient:before {
        background: -moz-linear-gradient(top,  rgba(239,238,234,0) 0%, rgba(239,238,234,0) 25%, rgba(239,238,234,.75) 75%, rgba(239,238,234,.75) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(239,238,234,0)), color-stop(25%,rgba(239,238,234,0)), color-stop(75%,rgba(239,238,234,.75)), color-stop(100%,rgba(239,238,234,.75))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(239,238,234,0) 0%,rgba(239,238,234,0) 25%,rgba(239,238,234,.75) 75%,rgba(239,238,234,.75) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(239,238,234,0) 0%,rgba(239,238,234,0) 25%,rgba(239,238,234,.75) 75%,rgba(239,238,234,.75) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(239,238,234,0) 0%,rgba(239,238,234,0) 25%,rgba(239,238,234,.75) 75%,rgba(239,238,234,.75) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(239,238,234,0) 0%,rgba(239,238,234,0) 25%,rgba(239,238,234,.75) 75%,rgba(239,238,234,.75) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
      }
    }

    &.brand-darkgray-bg {
      
      &:before {
        background-color: rgba(0,0,0,.75);
      }
      
      &.gradient:before {
        background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 25%, rgba(0,0,0,.75) 75%, rgba(0,0,0,.75) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(25%,rgba(0,0,0,0)), color-stop(75%,rgba(0,0,0,.75)), color-stop(100%,rgba(0,0,0,.75))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 25%,rgba(0,0,0,.75) 75%,rgba(0,0,0,.75) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 25%,rgba(0,0,0,.75) 75%,rgba(0,0,0,.75) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 25%,rgba(0,0,0,.75) 75%,rgba(0,0,0,.75) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 25%,rgba(0,0,0,.75) 75%,rgba(0,0,0,.75) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
      }
    }
  }
}

.content-overlay {
  z-index: 1;
  position: relative;
  
  &.bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  &.top {
    position: absolute;
    top: 0;
    width: 100%;
  }
  
  &.middle {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
  }
  
  &.right {
    position: absolute;
    width: auto;
    right: 0;
    left: auto;
  }
  
  &.left {
    position: absolute;
    width: auto;
    left: 0;
    right: auto;
  }
}

/**********************************/
/**** Viewport-relative Height ****/
/**********************************/

.viewport-height {
  height: 800px;
  height: 100vh;
}

.viewport-three-quarter-height {
  height: 600px;
  height: 75vh;
}

.viewport-half-height {
  height: 400px;
  height: 50vh;
}

.viewport-quarter-height {
  height: 200px;
  height: 25vh;
}

.viewport-two-thirds-height {
  height: 530px;
  height: 66.66vh;
}

.viewport-one-third-height {
  height: 265px;
  height: 33.33vh;
}
