.full-width {
  width: 100%;
}

/*************************/
/**** Padding classes ****/
/*************************/

.padding-0-1x {
  padding: 0 $gutter;
}

.padding-0-2x {
  padding: 0 2 * $gutter;
}

.padding-0-3x {
  padding: 0 3 * $gutter;
}

.padding-0-4x {
  padding: 0 4 * $gutter;
}

.padding-1x-4x {
  padding: $gutter 4 * $gutter;
}

.padding-1x-3x {
  padding: $gutter 3 * $gutter;
}

.padding-1x-2x {
  padding: $gutter 2 * $gutter;
}

.padding-1x {
  padding: $gutter;
}

.padding-1x-0 {
  padding: $gutter 0;
}

.padding-2x-4x {
  padding: 2 * $gutter 4 * $gutter
}

.padding-2x-3x {
  padding: 2 * $gutter 3 * $gutter
}

.padding-2x {
  padding: 2 * $gutter;
}

.padding-2x-1x {
  padding: 2 * $gutter $gutter
}

.padding-2x-0 {
  padding: 2 * $gutter 0;
}

.padding-3x-4x {
  padding: 3 * $gutter 4 * $gutter;
}

.padding-3x {
  padding: 3 * $gutter;
}

.padding-3x-2x {
  padding: 3 * $gutter 2 * $gutter;
}

.padding-3x-1x {
  padding: 3 * $gutter $gutter;
}

.padding-3x-0 {
  padding: 3 * $gutter 0;
}

.padding-4x {
  padding: 4 * $gutter;
}

.padding-4x-3x {
  padding: 4 * $gutter 3 * $gutter;
}

.padding-4x-2x {
  padding: 4 * $gutter 2 * $gutter;
}

.padding-4x-1x {
  padding: 4 * $gutter $gutter;
}

.padding-4x-0 {
  padding: 4 * $gutter 0;
}

@media (max-width: 480px) {
  /*************************/
  /**** Padding classes ****/
  /*************************/

  .padding-0-1x {
    padding: 0 $mobile-gutter;
  }

  .padding-0-2x {
    padding: 0 2 * $mobile-gutter;
  }

  .padding-0-3x {
    padding: 0 3 * $mobile-gutter;
  }

  .padding-0-4x {
    padding: 0 4 * $mobile-gutter;
  }

  .padding-1x-4x {
    padding: $mobile-gutter 4 * $mobile-gutter;
  }

  .padding-1x-3x {
    padding: $mobile-gutter 3 * $mobile-gutter;
  }

  .padding-1x-2x {
    padding: $mobile-gutter 2 * $mobile-gutter;
  }

  .padding-1x {
    padding: $mobile-gutter;
  }

  .padding-1x-0 {
    padding: $mobile-gutter 0;
  }

  .padding-2x-4x {
    padding: 2 * $mobile-gutter 4 * $mobile-gutter
  }

  .padding-2x-3x {
    padding: 2 * $mobile-gutter 3 * $mobile-gutter
  }

  .padding-2x {
    padding: 2 * $mobile-gutter;
  }

  .padding-2x-1x {
    padding: 2 * $mobile-gutter $mobile-gutter
  }

  .padding-2x-0 {
    padding: 2 * $mobile-gutter 0;
  }

  .padding-3x-4x {
    padding: 3 * $mobile-gutter 4 * $mobile-gutter;
  }

  .padding-3x {
    padding: 3 * $mobile-gutter;
  }

  .padding-3x-2x {
    padding: 3 * $mobile-gutter 2 * $mobile-gutter;
  }

  .padding-3x-1x {
    padding: 3 * $mobile-gutter $mobile-gutter;
  }

  .padding-3x-0 {
    padding: 3 * $mobile-gutter 0;
  }

  .padding-4x {
    padding: 4 * $mobile-gutter;
  }

  .padding-4x-3x {
    padding: 4 * $mobile-gutter 3 * $mobile-gutter;
  }

  .padding-4x-2x {
    padding: 4 * $mobile-gutter 2 * $mobile-gutter;
  }

  .padding-4x-1x {
    padding: 4 * $mobile-gutter $mobile-gutter;
  }

  .padding-4x-0 {
    padding: 4 * $mobile-gutter 0;
  }
}


/************************/
/**** Margin classes ****/
/************************/

.margin-bottom-4x {
  margin-bottom: 4 * $gutter;
}

.margin-bottom-3x {
  margin-bottom: 3 * $gutter;
}

.margin-bottom-2x {
  margin-bottom: 2 * $gutter;
}

.margin-bottom-1x {
  margin-bottom: 1 * $gutter;
}

.margin-top-4x {
  margin-top: 4 * $gutter;
}

.margin-top-3x {
  margin-top: 3 * $gutter;
}

.margin-top-2x {
  margin-top: 2 * $gutter;
}

.margin-top-1x {
  margin-top: 1 * $gutter;
}

/*************************/
/**** Display classes ****/
/*************************/

.desktop-only {
  display: block;
}

.netbook-only {
  display: none;
}

.tablet-only {
  display: none;
}

.mobile-only {
  display: none;
}

.no-desktop {
  display: none;
}

@media (max-width: 960px) {
  .desktop-only {
    display: none;
  }
  
  .netbook-only {
    display: block;
  }
  
  .tablet-only {
    display: none;
  }
  
  .mobile-only {
    display: none;
  }
  
  .no-netbook {
    display: none;
  }
}

@media (max-width: 768px) {
  .desktop-only {
    display: none;
  }
  
  .netbook-only {
    display: none;
  }
  
  .tablet-only {
    display: block;
  }
  
  .mobile-only {
    display: none;
  }
  
  .no-tablet {
    display: none;
  }
}

@media (max-width: 480px) {
  .desktop-only {
    display: none;
  }
  
  .netbook-only {
    display: none;
  }
  
  .tablet-only {
    display: none;
  }
  
  .mobile-only {
    display: block;
  }
  
  .no-mobile {
    display: none;
  }
}
