/****************/
/**** Floats ****/
/****************/

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.clear {
  clear: both;
}

.clear-left {
  clear: left;
}

.clear-right {
  clear: right;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.relative {
  position: relative;
}

/************************/
/**** Text alignment ****/
/************************/

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

/**************************/
/*** Container classes ****/
/**************************/

@include containers(12);

.centered {
  margin-left: auto;
  margin-right: auto;
}

/*************************/
/**** Padding classes ****/
/*************************/

@include padding(6,6, $gutter);

/************************/
/**** Margin classes ****/
/************************/

@include margin(6, $gutter);

/*************************/
/**** Display classes ****/
/*************************/
.desktop-only {
  display: none;
}

.netbook-only {
  display: none;
}

.tablet-only {
  display: none;
}

.mobile-only {
  display: block;
}

.no-mobile {
  display: none;
}

@media (min-width: 480px) {
  .desktop-only {
    display: none;
  }
  
  .netbook-only {
    display: none;
  }
  
  .tablet-only {
    display: block;
  }
  
  .mobile-only {
    display: none;
  }
  
  .no-tablet {
    display: none;
  }
}

@media (min-width: 800px) {
  .desktop-only {
    display: none;
  }
  
  .netbook-only {
    display: block;
  }
  
  .tablet-only {
    display: none;
  }
  
  .mobile-only {
    display: none;
  }
  
  .no-netbook {
    display: none;
  }
}

@media (min-width: 1024px) {
  .desktop-only {
    display: block;
  }

  .netbook-only {
    display: none;
  }

  .tablet-only {
    display: none;
  }

  .mobile-only {
    display: none;
  }

  .no-desktop {
    display: none;
  }
}

/***************************/
/**** Background images ****/
/***************************/

.bg-image {
  background-size: cover;
  background-position: center;
  position: relative;
  
  &.left {
    background-position: left center;
    
    &.top {
      background-position: left top;
    }
    
    &.bottom {
      background-position: left bottom;
    }
  }
  
  &.right {
    background-position: right center;
    
    &.top {
      background-position: right top;
    }
    
    &.bottom {
      background-position: right bottom;
    }
  }
  
  &.top {
    background-position: center top;
  }
  
  &.bottom {
    background-position: center bottom;
  }
  
  &.overlay {
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    
    &.brand-purple-bg {
      &:before {
        background-color: $brand-purple;
        opacity: .9;
      }
      
      &.gradient:before {
        background: -moz-linear-gradient(top,  rgba(74,0,89,0) 0%, rgba(74,0,89,0) 25%, rgba(74,0,89,.75) 75%, rgba(74,0,89,.75) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(74,0,89,0)), color-stop(25%,rgba(74,0,89,0)), color-stop(75%,rgba(74,0,89,.75)), color-stop(100%,rgba(74,0,89,.75))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(74,0,89,0) 0%,rgba(74,0,89,0) 25%,rgba(74,0,89,.75) 75%,rgba(74,0,89,.75) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(74,0,89,0) 0%,rgba(74,0,89,0) 25%,rgba(74,0,89,.75) 75%,rgba(74,0,89,.75) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(74,0,89,0) 0%,rgba(74,0,89,0) 25%,rgba(74,0,89,.75) 75%,rgba(74,0,89,.75) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(74,0,89,0) 0%,rgba(74,0,89,0) 25%,rgba(74,0,89,.75) 75%,rgba(74,0,89,.75) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
      }
    }
    
    &.brand-dark-purple-bg {
      &:before {
        background-color: $brand-dark-purple;
        opacity: .85;
      }
    }

    &.brand-pink-bg {
      &:before {
        background-color: $brand-pink;
        opacity: .9
      }
      
      &.gradient:before {
        background: -moz-linear-gradient(top,  rgba(236,2,126,0) 0%, rgba(236,2,126,0) 25%, rgba(236,2,126,.75) 75%, rgba(236,2,126,.75) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(236,2,126,0)), color-stop(25%,rgba(236,2,126,0)), color-stop(75%,rgba(236,2,126,.75)), color-stop(100%,rgba(236,2,126,.75))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(236,2,126,0) 0%,rgba(236,2,126,0) 25%,rgba(236,2,126,.75) 75%,rgba(236,2,126,.75) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(236,2,126,0) 0%,rgba(236,2,126,0) 25%,rgba(236,2,126,.75) 75%,rgba(236,2,126,.75) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(236,2,126,0) 0%,rgba(236,2,126,0) 25%,rgba(236,2,126,.75) 75%,rgba(236,2,126,.75) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(236,2,126,0) 0%,rgba(236,2,126,0) 25%,rgba(236,2,126,.75) 75%,rgba(236,2,126,.75) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
      }
    }

    &.brand-teal-bg {
      &:before {
        background-color: $brand-teal;
        opacity: .9;
      }
      
      &.gradient:before {
        background: -moz-linear-gradient(top,  rgba(0,171,171,0) 0%, rgba(0,171,171,0) 25%, rgba(0,171,171,.75) 75%, rgba(0,171,171,.75) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,171,171,0)), color-stop(25%,rgba(0,171,171,0)), color-stop(75%,rgba(0,171,171,.75)), color-stop(100%,rgba(0,171,171,.75))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(0,171,171,0) 0%,rgba(0,171,171,0) 25%,rgba(0,171,171,.75) 75%,rgba(0,171,171,.75) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(0,171,171,0) 0%,rgba(0,171,171,0) 25%,rgba(0,171,171,.75) 75%,rgba(0,171,171,.75) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(0,171,171,0) 0%,rgba(0,171,171,0) 25%,rgba(0,171,171,.75) 75%,rgba(0,171,171,.75) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(0,171,171,0) 0%,rgba(0,171,171,0) 25%,rgba(0,171,171,.75) 75%,rgba(0,171,171,.75) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
      }
    }

    &.brand-orange-bg {
      &:before {
        background-color: $brand-orange;  
        opacity: .9;
      }
      
      &.gradient:before {
        background: -moz-linear-gradient(top,  rgba(240,92,34,0) 0%, rgba(240,92,34,0) 25%, rgba(240,92,34,.75) 75%, rgba(240,92,34,.75) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,92,34,0)), color-stop(25%,rgba(240,92,34,0)), color-stop(75%,rgba(240,92,34,.75)), color-stop(100%,rgba(240,92,34,.75))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(240,92,34,0) 0%,rgba(240,92,34,0) 25%,rgba(240,92,34,.75) 75%,rgba(240,92,34,.75) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(240,92,34,0) 0%,rgba(240,92,34,0) 25%,rgba(240,92,34,.75) 75%,rgba(240,92,34,.75) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(240,92,34,0) 0%,rgba(240,92,34,0) 25%,rgba(240,92,34,.75) 75%,rgba(240,92,34,.75) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(240,92,34,0) 0%,rgba(240,92,34,0) 25%,rgba(240,92,34,.75) 75%,rgba(240,92,34,.75) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
      }
    }

    &.brand-green-bg {
      &:before {
        background-color: $brand-green;
        opacity: .9;
      }
      
      &.gradient:before {
        background: -moz-linear-gradient(top,  rgba(123,197,87,0) 0%, rgba(123,197,87,0) 25%, rgba(123,197,87,.75) 75%, rgba(123,197,87,.75) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(123,197,87,0)), color-stop(25%,rgba(123,197,87,0)), color-stop(75%,rgba(123,197,87,.75)), color-stop(100%,rgba(123,197,87,.75))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(123,197,87,0) 0%,rgba(123,197,87,0) 25%,rgba(123,197,87,.75) 75%,rgba(123,197,87,.75) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(123,197,87,0) 0%,rgba(123,197,87,0) 25%,rgba(123,197,87,.75) 75%,rgba(123,197,87,.75) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(123,197,87,0) 0%,rgba(123,197,87,0) 25%,rgba(123,197,87,.75) 75%,rgba(123,197,87,.75) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(123,197,87,0) 0%,rgba(123,197,87,0) 25%,rgba(123,197,87,.75) 75%,rgba(123,197,87,.75) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
      }
    }

    &.brand-white-bg {
      &:before {
        background-color: #fff;
        opacity: .9;
      }
      
      &.gradient:before {
        background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 25%, rgba(255,255,255,.75) 75%, rgba(255,255,255,.75) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(25%,rgba(255,255,255,0)), color-stop(75%,rgba(255,255,255,.75)), color-stop(100%,rgba(255,255,255,.75))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 25%,rgba(255,255,255,.75) 75%,rgba(255,255,255,.75) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 25%,rgba(255,255,255,.75) 75%,rgba(255,255,255,.75) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 25%,rgba(255,255,255,.75) 75%,rgba(255,255,255,.75) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 25%,rgba(255,255,255,.75) 75%,rgba(255,255,255,.75) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
      }
    }

    &.brand-offwhite-bg {
      &:before {
        background-color: $brand-offwhite;
        opacity: .9;
      }
      
      &.gradient:before {
        background: -moz-linear-gradient(top,  rgba(239,238,234,0) 0%, rgba(239,238,234,0) 25%, rgba(239,238,234,.75) 75%, rgba(239,238,234,.75) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(239,238,234,0)), color-stop(25%,rgba(239,238,234,0)), color-stop(75%,rgba(239,238,234,.75)), color-stop(100%,rgba(239,238,234,.75))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(239,238,234,0) 0%,rgba(239,238,234,0) 25%,rgba(239,238,234,.75) 75%,rgba(239,238,234,.75) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(239,238,234,0) 0%,rgba(239,238,234,0) 25%,rgba(239,238,234,.75) 75%,rgba(239,238,234,.75) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(239,238,234,0) 0%,rgba(239,238,234,0) 25%,rgba(239,238,234,.75) 75%,rgba(239,238,234,.75) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(239,238,234,0) 0%,rgba(239,238,234,0) 25%,rgba(239,238,234,.75) 75%,rgba(239,238,234,.75) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
      }
    }

    &.brand-darkgray-bg {
      
      &:before {
        background-color: #000;
        opacity: .75;
      }
      
      &.gradient:before {
        background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 25%, rgba(0,0,0,.75) 75%, rgba(0,0,0,.75) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(25%,rgba(0,0,0,0)), color-stop(75%,rgba(0,0,0,.75)), color-stop(100%,rgba(0,0,0,.75))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 25%,rgba(0,0,0,.75) 75%,rgba(0,0,0,.75) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 25%,rgba(0,0,0,.75) 75%,rgba(0,0,0,.75) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 25%,rgba(0,0,0,.75) 75%,rgba(0,0,0,.75) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 25%,rgba(0,0,0,.75) 75%,rgba(0,0,0,.75) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
      }
    }
  }
}

.content-overlay {
  z-index: 1;
  position: relative;
  
  &.bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  &.top {
    position: absolute;
    top: 0;
    width: 100%;
  }
  
  &.middle {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  
  &.right {
    position: absolute;
    width: auto;
    right: 0;
    left: auto;
  }
  
  &.left {
    position: absolute;
    width: auto;
    left: 0;
    right: auto;
  }
}

/**********************************/
/**** Viewport-relative Height ****/
/**********************************/

.viewport-height {
  height: 800px;
  height: 100vh;
}

.viewport-three-quarter-height {
  height: 600px;
  height: 75vh;
}

.viewport-half-height {
  height: 400px;
  height: 50vh;
}

.viewport-quarter-height {
  height: 200px;
  height: 25vh;
}

.viewport-two-thirds-height {
  height: 530px;
  height: 66.66vh;
}

.viewport-one-third-height {
  height: 265px;
  height: 33.33vh;
}

/***************************/
/**** Body Copy layouts ****/
/***************************/

.body-copy {
  &.contained-1260,
  &.contained-12 {
    > :not(aside):not(div) {
      max-width: 945px;
      margin-left: auto;
      margin-right: auto;
    }
    
    > .full-width {
      max-width: none;
    }
  }
  
  &.contained-960,
  &.contained-9 {
    > :not(aside):not(div) {
      max-width: 630px;
      margin-left: auto;
      margin-right: auto;
    }
    
    > .full-width {
      max-width: none;
    }
  }
  
  &.contained-680,
  &.contained-6 {
    > :not(aside):not(div) {
      max-width: 420px;
      margin-left: auto;
      margin-right: auto;
    }
    
    > .full-width {
      max-width: none;
    }
  }
}
