.loading-indicator {
  &:before {
    content: '';
    display: inline-block;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border-top: solid 5px $brand-purple;
    border-right: solid 5px $brand-teal;
    border-bottom: solid 5px $brand-pink;
    border-left: solid 5px $brand-orange;
    transform: translateZ(0);
    animation: spin 1.25s infinite cubic-bezier(.5,.25,.5,.75);
  }
  
  &.large:before {
    height: 40px;
    width: 40px;
  }
  
  &.small:before {
    height: 20px;
    width: 20px;
  }
}

[class*='brand-'][class*='-bg']:not(.brand-offwhite-bg):not(.brand-darkgray-bg):not(.brand-dark-gray-bg) .loading-indicator,
.loading-indicator.monochromatic {
  &:before {
    border-top-color: rgba(255,255,255,.125);
    border-right-color: rgba(255,255,255,.25);
    border-bottom-color: rgba(255,255,255,.5);
    border-left-color: rgba(255,255,255,.75);
  }
}

.btn .loading-indicator {
  display: inline-block;
  padding-left: 2.5em;
  position: relative;
  
  &:before {
    position: absolute;
    left: 0;
    height: 2em;
    width: 2em;
    vertical-align: middle;
    top: -.3125em;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}
