.responsive-table {
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}

thead {
  th {
    border-right: solid 1px $brand-almostwhite;
    
    &:last-child {
      border-right-color: $brand-offwhite;
    }
  }
}

thead + tbody {
  tr {
    &:nth-child(even) {
      background-color: $brand-almostwhite;
    }
    
    &:nth-child(odd) {
      background-color: inherit;
    }
  }
}

tbody {
  tr {
    &:nth-child(odd) {
      background-color: $brand-almostwhite;
    }
    
    &:last-child {
      th {
        border-bottom-color: $brand-offwhite;
      }
    }
  }
}

tfoot {
  border-top: solid 4px $brand-gray;
}

tr {
  &:first-child {
    th {
      border-top: none;
    }
  }
  
  &.section-separator {
    td, th {
      border-top-width: 4px;
    }
  }
  
  &.brand-purple-bg {
    td, th {
      background-color: $brand-purple;
    }
  }
  
  &.brand-teal-bg {
    td, th {
      background-color: $brand-teal;
    }
  }
  &.brand-pink-bg {
    td, th {
      background-color: $brand-pink;
    }
  }
  &.brand-orange-bg {
    td, th {
      background-color: $brand-orange;
    }
  }
  &.brand-darkgray-bg, /* darkgray is deprecated, start using dark-gray */
  &.brand-dark-gray-bg {
    td, th {
      background-color: $brand-dark-gray;
    }
  }
}

td {
  padding: 10px 20px;
  border: solid 1px $brand-offwhite;
}

th {
  text-align: left;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-size: .875em;
  padding: 10px 20px;
  background-color: $brand-offwhite;
  border-top: solid 1px $brand-almostwhite;
}

td, th {
  &.hide {
    border: none;
    background-color: transparent !important;
  }
}
