/******************/
/**** Tooltips ****/
/******************/

.tooltip {
  display: none;
  z-index: 1;
  
  .tooltip-container {
    position: relative;
    left: -50%;
    width: 1000px;
    
    &.purple {
      .tooltip-content {
        background-color: $brand-purple;
        color: #fff;
        
        &:after {
          color: $brand-purple;
        }
      }
    }
    
    &.teal {
      .tooltip-content {
        background-color: $brand-teal;
        color: #fff;
        
        &:after {
          color: $brand-teal;
        }
      }
    }
    
    &.orange {
      .tooltip-content {
        background-color: $brand-orange;
        color: #fff;
        
        &:after {
          color: $brand-orange;
        }
      }
    }
    
    &.pink {
      .tooltip-content {
        background-color: $brand-pink;
        color: #fff;
        
        &:after {
          color: $brand-pink;
        }
      }
    }
    
    &.green {
      .tooltip-content {
        background-color: $brand-green;
        color: #fff;
        
        &:after {
          color: $brand-green;
        }
      }
    }
    
    &.offwhite {
      .tooltip-content {
        background-color: $brand-offwhite;
        color: #333;
        
        &:after {
          color: $brand-offwhite;
        }
      }
    }
  }
  
  &.top {
    .tooltip-container {
      bottom: 15px;
    }
    
    .tooltip-content {
      bottom: 0;
      
      &:after {
        content: "\e617";
        bottom: -10px;
        color: $brand-offwhite;
      }
    }
  }
  
  &.bottom {
    .tooltip-container {
      top: 15px;
    }
    
    .tooltip-content {
      top: 0;
      
      &:after {
        content: "\e618";
        top: -10px;
        color: $brand-offwhite;
      }
    }
  }
  
  .tooltip-content {
    position: absolute;
    padding: 10px;
    background-color: $brand-offwhite;
    font-size: 12px;
    
    &:after {
      font-family: 'oi-icons';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      display: inline-block;
      text-align: center;
      position: absolute;
      width: 100%;
      left: 0;
    }
  } 
}
