/**************************/
/**** Placeholder text ****/
/**************************/

::-webkit-input-placeholder {
   color: #8f8e8c;
   font-family: "Times New Roman", serif;
   font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
   color: #8f8e8c;
   font-family: "Times New Roman", serif;
   font-style: italic;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #8f8e8c;
   font-family: "Times New Roman", serif;
   font-style: italic;
}

:-ms-input-placeholder {
   color: #8f8e8c !important;
   font-family: "Times New Roman", serif !important;
   font-style: italic !important;
}

/************************/
/**** Text alignment ****/
/************************/

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

/*******************/
/**** Font size ****/
/*******************/

p {
  margin: 0 0 1em 0;
  font-size: 15px;
}

p.large {
  font-size: 20px;
}

p.small {
  font-size: 12px;
}

/******************/
/**** Headings ****/
/******************/

h1, h2, h3 {
  text-transform: uppercase;
  margin-top: 0;
  letter-spacing: 1px;
}
