/**************************/
/**** Placeholder text ****/
/**************************/

::-webkit-input-placeholder {
   color: #8f8e8c;
   font-family: "Times New Roman", serif;
   font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
   color: #8f8e8c;
   font-family: "Times New Roman", serif;
   font-style: italic;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #8f8e8c;
   font-family: "Times New Roman", serif;
   font-style: italic;
}

:-ms-input-placeholder {
   color: #8f8e8c !important;
   font-family: "Times New Roman", serif !important;
   font-style: italic !important;
}

/************************/
/**** Text alignment ****/
/************************/

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

/*******************/
/**** Font size ****/
/*******************/

p {
  margin: 1em 0;
  font-size: 16px;
  line-height: 28px;
  
  &:first-child {
    margin-top: 0;
  }
  
  &:last-child {
    margin-bottom: 0;
  }
}

p.large {
  font-size: 20px;
}

p.small {
  font-size: 12px;
}

@media (max-width: 480px) {
  p.large {
    font-size: 16px;
  }
}

/******************/
/**** Headings ****/
/******************/

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  margin: $gutter 0;
  letter-spacing: 1px;
  font-family: $font-primary;
  
  &:first-child {
    margin-top: 0;
  }
  
  &:last-child {
    margin-bottom: 0;
  }
}

h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

/*********************/
/**** Blockquotes ****/
/*********************/

blockquote {
  font-style: italic;
  padding: 20px 20px 5px 50px;
  margin-left: 0;
  margin-right: 0;
  position: relative;
  border-top: solid 1px $brand-offwhite;
  border-bottom: solid 1px $brand-offwhite;
  
  p {
    font-family: "Time New Roman", serif;
    font-size: 18px;
    line-height: 28px;
    color: #555;
  }
  
  cite {
    font-family: "Times New Roman", serif;
    text-align: right;
    display: block;
    margin-bottom: 15px;
    color: #555;
    
    &:before {
      content: "– ";
    }
  }
  
  &:before {
    content: "\201c";
    display: block;
    position: absolute;
    top: 15px;
    left: 0;
    font-size: 70px;
    font-weight: bold;
    font-style: normal;
    line-height: 70px;
    color: $brand-purple;
  }  
}

.brand-purple-bg blockquote:before {
  color: $brand-orange;
}

.brand-orange-bg blockquote:before {
  color: $brand-purple;
}

/***************/
/**** Lists ****/
/***************/

ul, ol {
  padding: 0;
  margin: 0;
  list-style: none;
  counter-reset: list;
  
  li {
    position: relative;
    padding-left: $gutter;
    line-height: 1.75em;
    counter-increment: list;
  }
}

ul li {
  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 7px;
    height: 7px;
    margin-top: 10px;
    border-radius: 100%;
    background-color: #555;
  }
}

ol li {
  &:before {
    content: counter(list) '.';
    display: block;
    position: absolute;
    left: 0;
  }
}

/***********************/
/**** Font-families ****/
/***********************/

.brand-font-primary {
  font-famliy: $font-primary;
}

.brand-font-secondary {
  font-family: $font-secondary;
  font-style: italic;
}

.italic {
  font-style: italic;
}

.transform-uppercase {
  text-transform: uppercase;
}

.transform-normal {
  text-transform: none;
}
