/**************************/
/**** Placeholder text ****/
/**************************/

::-webkit-input-placeholder {
   color: #8f8e8c;
   font-family: "Times New Roman", serif;
   font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
   color: #8f8e8c;
   font-family: "Times New Roman", serif;
   font-style: italic;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #8f8e8c;
   font-family: "Times New Roman", serif;
   font-style: italic;
}

:-ms-input-placeholder {
   color: #8f8e8c !important;
   font-family: "Times New Roman", serif !important;
   font-style: italic !important;
}

/********************/
/**** Paragraphs ****/
/********************/

p {
  margin: 1em 0;
  font-size: 1em;
  line-height: 1.5;
  
  @media (min-width: 480px) {
    line-height: 1.75;
  }
  
  &:first-child {
    margin-top: 0;
  }
  
  &:last-child {
    margin-bottom: 0;
  }
}

p.large {
  font-size: 1.125em;
  
  @media (min-width: 480px) {
    font-size: 1.25em;
  }
}

p.small {
  font-size: .875em;
}

/***************/
/**** Links ****/
/***************/

a {
  text-decoration: none;
  color: $brand-green;
  cursor: pointer;
  transition: border-color .3s, color .3s;
  -moz-transition: border-color .3s, color .3s;
  
  img {
    border: none;
  }
  
  &.block {
    display: block;
  }
}

p a {
  border-bottom: solid 1px transparent;
  
  &:hover {
    border-bottom: solid 1px;
  }
}

.brand-green-bg,
.brand-purple-bg,
.brand-orange-bg,
.brand-teal-bg,
.brand-pink-bg {
  a {
    color: #fff;
    border-color: #fff;
    
    &:hover {
      border-color: #fff;
    }
  }
}


/******************/
/**** Headings ****/
/******************/

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  margin: 1.25em 0 .75em 0;
  letter-spacing: 1px;
  line-height: 1;
  font-family: $font-primary;
  
  @media (min-width: 480px) {
    margin: 1.5em 0 1em 0;
  }
  
  &:first-child {
    margin-top: 0;
  }
  
  &:last-child {
    margin-bottom: 0;
  }
  
  a {
    color: inherit;
  }
  
  .subheading,
  .superheading {
    display: block;
    text-transform: none;
    letter-spacing: 0;
    font-weight: normal;
    font-family: $font-secondary;
    font-style: italic;
  }
  
  .subheading {
    margin-top: .25em;
  }
  
  .superheading {
    margin-bottom: .375em;
  }
  
  &.bordered {
    display: inline-block;
    padding: 1em 1.125em;
  }
}

h1 {
  font-size: 1.625em;
  
  @media (min-width: 480px) {
    font-size: 2em;
  }
  
  &.large {
    font-size: 1.875em;
    
    @media (min-width: 480px) {
      font-size: 2.5em;
    }
  }
  
  &.small {
    font-size: 1.375em;
    
    @media (min-width: 480px) {
      font-size: 1.5em;
    }
    
    .subheading,
    .superheading {
      font-size: .75em;
    }
  }
  
  .subheading,
  .superheading {
    font-size: .625em;
  }
}

h2 {
  font-size: 1.375em;
  
  @media (min-width: 480px) {
    font-size: 1.5em;
  }
  
  &.large {
    font-size: 1.625em;
    
    @media (min-width: 480px) {
      font-size: 2em;
    }
    
    .subheading,
    .superheading {
      font-size: .625em;
    }
  }
  
  &.small {
    font-size: 1.125em;
    
    .subheading,
    .superheading {
      font-size: .875em;
    }
  }
  
  .subheading,
  .superheading {
    font-size: .75em;
  }
}

h3 {
  font-size: 1.125em;
  
  &.large {
    font-size: 1.5em;
    
    .subheading,
    .superheading {
      font-size: .75em;
    }
  }
  
  &.small {
    font-size: 1em;
  }
  
  .subheading,
  .superheading {
    font-size: .875em;
  }
}

h4 {
  font-size: 1em;
  text-transform: none;
  margin-bottom: 0.5 * $gutter;
  
  &.large {
    font-size: 1.125em;
  }
  
  & + p {
    margin-top: 0;
  }
}

h5 {
  font-family: $font-secondary;
  font-style: italic;
  font-size: 1em;
  color: $text-color-secondary;
  text-transform: none;
  
  &.large {
    font-size: 1.125em;
  }
}

/*********************/
/**** Blockquotes ****/
/*********************/

blockquote {
  font-family: $font-secondary;
  font-style: italic;
  padding: 1em 1em 1em 2em;
  margin: 1.25em 0;
  position: relative;
  border-top: solid 2px $brand-offwhite;
  border-bottom: solid 2px $brand-offwhite;
  color: $text-color-secondary;
  
  @media (min-width: 480px) {
    padding: 1.25em 1.25em 1.25em 3.125em;
  }
  
  p {
    font-family: $font-secondary;
    font-size: 1.125em;
    line-height: 1.25;
    
    @media (min-width: 480px) {
      line-height: 1.5;
    }
  }
  
  cite {
    text-align: right;
    display: block;
    font-family: $font-primary;
    font-style: normal;
    font-size: .875em;
    
    &:before {
      content: "– ";
    }
  }
  
  &:before {
    content: "\201c";
    display: block;
    position: absolute;
    left: 0;
    // I want to use ems here, but IE9-11 have a bug that prohibits that.
    // Keeping the em declaration for future reference, in case IE ever gets
    // its act together.
    // font-size: 3.25em;
    font-size: 52px;
    top: .25em;
    font-weight: bold;
    font-style: normal;
    line-height: 1em;
    color: $brand-purple;
    
    @media (min-width: 480px) {
      // Again, I want to use ems here, but IE9-11 is a real party pooper.
      // font-size: 4.375em;
      font-size: 70px;
      top: 15px;
    }
  }
  
  &.no-border {
    border-top: none;
    border-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    
    &:before {
      top: -5px;
    }
  }
  
  &:first-child {
    margin-top: 0;
  }
  
  &:last-child {
    margin-bottom: 0;
  }
  
  &.large {
    font-size: 1.25em;
    
    // Declaring the :before font-sizes in pixels because of an
    // IE9-11 bug (see comments above). If we could use ems safely in :before
    // and :after pseudo elements, the following block would be unecessary.
    &:before {
      font-size: 65px;
      
      @media (min-width: 480px) {
        font-size: 87.5px;
      }
    }
  }
}

blockquote + blockquote {
  border-top: none;
  padding-top: 0;
  
  &:before {
    top: -5px;
  }
}

[class*='brand-'][class*='-bg']:not(.brand-offwhite-bg):not(.brand-white-bg) {
    blockquote {
    color: #fff;
  }
}

.brand-purple-bg blockquote:before {
  color: $brand-orange;
}

.brand-orange-bg blockquote:before {
  color: $brand-purple;
}

.brand-offwhite-bg blockquote {
  border-color: $brand-gray;
}

/****************/
/**** Asides ****/
/****************/

aside {
  position: relative;
  float: left;
  margin-left: 0;
  margin-right: 2 * $gutter;
  margin-bottom: $gutter;
  margin-top: .5em;
  padding-top: $gutter;
  border-top: solid 5px $brand-offwhite;
  
  &.right {
    float: right;
    margin-left: 2 * $gutter;
    margin-right: 0;
  }
  
  &.no-border {
    border-top: 0;
    margin-top: 0;
    padding-top: 0;
  }
  
  blockquote {
    border-top: none;
    border-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    
    &:before {
      top: -5px;
    }
  }
}

.contained-12,
.contained-9,
.contained-6,
.contained-4 {
  aside {
    width: 100%;
    max-width: none;
  }
}

@media (min-width: 480px) {
  .contained-12 {
    aside {
      max-width: 480px;
      width: 50%;
    }
  }

  .contained-9 {
    aside {
      max-width: 340px;
      width: 50%;
    }
  }

  .contained-6,
  .contained-4 {
    aside {
      max-width: 220px;
      width: 50%;
    }
  }
}

/*****************/
/**** Figures ****/
/*****************/

figure {
  margin: 0 0 1em 0;
  
  img {
    display: block;
    width: 100%;
  }
}

figcaption {
  margin-top: .625em;
  color: $brand-gray;
  font-family: $font-secondary;
  font-style: italic;
}

/***************/
/**** Lists ****/
/***************/

ul, ol {
  padding: 0;
  margin: 0 0 $gutter 0;
  list-style: none;
  counter-reset: list;
  
  li {
    position: relative;
    padding-left: 1.25em;
    line-height: 1.5em;
    counter-increment: list;
    
    @media (min-width: 480px) {
      line-height: 1.75em;
    }
    
    &:last-child {
      margin-bottom: 0;
    }
  }
  
  &.no-list-style {
    li {
      padding-left: 0;
      
      &:before {
        display: none;
      }
    }
  }
  
  &.inline {
    display: inline-block;
    margin-left: -0.5 * $gutter;
    margin-right: -0.5 * $gutter;
    padding: 0;
    
    li {
      display: inline-block;
      padding-left: 0.5 * $gutter;
      padding-right: 0.5 * $gutter;
      
      &:before {
        display: none;
      }
    }
  }
  
  &:last-child {
    margin-bottom: 0;
  }
}

ul li {
  &:before {
    content: '●';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
  }
}

ol li {
  &:before {
    content: counter(list) '.';
    display: block;
    position: absolute;
    left: 0;
  }
}

/***********************/
/**** Font-families ****/
/***********************/

.brand-font-primary {
  font-famliy: $font-primary;
}

.brand-font-secondary {
  font-family: $font-secondary;
  font-style: italic;
}

.italic {
  font-style: italic;
}

.transform-uppercase {
  text-transform: uppercase;
}

.transform-normal {
  text-transform: none;
  letter-spacing: normal;
}
