/**************************/
/**** Placeholder text ****/
/**************************/

::-webkit-input-placeholder {
   color: #8f8e8c;
   font-family: "Times New Roman", serif;
   font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
   color: #8f8e8c;
   font-family: "Times New Roman", serif;
   font-style: italic;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #8f8e8c;
   font-family: "Times New Roman", serif;
   font-style: italic;
}

:-ms-input-placeholder {
   color: #8f8e8c !important;
   font-family: "Times New Roman", serif !important;
   font-style: italic !important;
}

/************************/
/**** Text alignment ****/
/************************/

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

/********************/
/**** Paragraphs ****/
/********************/

p {
  margin: 1em 0;
  font-size: 1em;
  line-height: 1.75;
  
  @media (max-width: 480px) {
    line-height: 1.5;
  }
  
  &:first-child {
    margin-top: 0;
  }
  
  &:last-child {
    margin-bottom: 0;
  }
}

p.large {
  font-size: 1.25em;
  
  @media (max-width: 480px) {
    font-size: 1.125em;
  }
}

p.small {
  font-size: .875em;
}

/***************/
/**** Links ****/
/***************/

a {
  text-decoration: none;
  color: $brand-green;
  transition: border-color .3s;
  -moz-transition: border-color .3s;
}

p a {
  border-bottom: solid 1px transparent;
  
  &:hover {
    border-bottom: solid 1px $brand-green;
  }
}

.brand-green-bg,
.brand-purple-bg,
.brand-orange-bg,
.brand-teal-bg,
.brand-pink-bg {
  a {
    color: #fff;
    border-color: #fff;
    
    &:hover {
      border-color: #fff;
    }
  }
}


/******************/
/**** Headings ****/
/******************/

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  margin: 1.5em 0 1em 0;
  letter-spacing: 1px;
  line-height: 1;
  font-family: $font-primary;
  
  @media (max-width: 480px) {
    margin: 1.25em 0 .75em 0;
  }
  
  &:first-child {
    margin-top: 0;
  }
  
  &:last-child {
    margin-bottom: 0;
  }
  
  .subheading {
    display: block;
    text-transform: none;
    letter-spacing: 0;
    font-weight: normal;
    font-family: $font-secondary;
    font-style: italic;
    margin-top: 5px;
  }
  
  &.bordered {
    display: inline-block;
    padding: 1em 1.125em;
  }
}

h1 {
  font-size: 2em;
  
  &.large {
    font-size: 2.5em;
  }
  
  &.small {
    font-size: 1.5em;
  }
  
  .subheading {
    font-size: .75em;
  }
}

h2 {
  font-size: 1.5em;
  
  &.large {
    font-size: 2em;
  }
  
  &.small {
    font-size: 1.125em;
  }
  
  .subheading {
    font-size: .75em;
  }
}

h3 {
  font-size: 1.125em;
  
  &.large {
    font-size: 1.5em;
  }
  
  &.small {
    font-size: 1em;
  }
  
  .subheading {
    font-size: .876em;
  }
}

h4 {
  font-size: 1em;
  text-transform: none;
  margin-bottom: 0.5 * $gutter;
  
  &.large {
    font-size: 1.125em;
  }
  
  & + p {
    margin-top: 0;
  }
}

h5 {
  font-family: $font-secondary;
  font-style: italic;
  font-size: 1em;
  color: $text-color-secondary;
  text-transform: none;
  
  &.large {
    font-size: 1.125em;
  }
}

/*********************/
/**** Blockquotes ****/
/*********************/

blockquote {
  font-style: italic;
  padding: 1.25em 1.25em 1.25em 3.125em;
  margin: 1.25em 0;
  position: relative;
  border-top: solid 1px $brand-offwhite;
  border-bottom: solid 1px $brand-offwhite;
  color: $text-color-secondary;
  
  p {
    font-family: "Time New Roman", serif;
    font-size: 1.125em;
    line-height: 1.5;
    
    @media (max-width: 480px) {
      line-height: 1.25;
    }
  }
  
  cite {
    text-align: right;
    display: block;
    font-style: normal;
    font-size: .875em;
    
    &:before {
      content: "– ";
    }
  }
  
  &:before {
    content: "\201c";
    display: block;
    position: absolute;
    top: 15px;
    left: 0;
    font-size: 4.375em;
    font-weight: bold;
    font-style: normal;
    line-height: 1em;
    color: $brand-purple;
  }
  
  &.no-border {
    border-top: none;
    border-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    
    &:before {
      top: -5px;
    }
  }
  
  &:first-child {
    margin-top: 0;
  }
  
  &:last-child {
    margin-bottom: 0;
  }
  
  &.large {
    font-size: 1.25em;
  }
}

blockquote + blockquote {
  border-top: none;
  padding-top: 0;
  
  &:before {
    top: -5px;
  }
}

.brand-purple-bg,
.brand-light-purple-bg,
.brand-pink-bg,
.brand-teal-bg,
.brand-light-teal-bg,
.brand-orange-bg,
.brand-green-bg,
.brand-darkgray-bg,
.brand-gray-bg {
  blockquote {
    color: #fff;
  }
}

.brand-purple-bg blockquote:before {
  color: $brand-orange;
}

.brand-orange-bg blockquote:before {
  color: $brand-purple;
}

.brand-offwhite-bg blockquote {
  border-color: $brand-gray;
}

/***************/
/**** Lists ****/
/***************/

ul, ol {
  padding: 0;
  margin: 0 0 $gutter 0;
  list-style: none;
  counter-reset: list;
  
  li {
    position: relative;
    padding-left: 1.25em;
    line-height: 1.75em;
    counter-increment: list;
    
    @media (max-width: 480px) {
      line-height: 1.5em;
    }
    
    &:last-child {
      margin-bottom: 0;
    }
  }
  
  &.no-list-style {
    li {
      padding-left: 0;
      
      &:before {
        display: none;
      }
    }
  }
  
  &.inline {
    display: inline-block;
    margin-left: -0.5 * $gutter;
    margin-right: -0.5 * $gutter;
    padding: 0;
    
    li {
      display: inline-block;
      padding-left: 0.5 * $gutter;
      padding-right: 0.5 * $gutter;
      
      &:before {
        display: none;
      }
    }
  }
  
  &:last-child {
    margin-bottom: 0;
  }
}

ul li {
  &:before {
    content: '●';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
  }
}

ol li {
  &:before {
    content: counter(list) '.';
    display: block;
    position: absolute;
    left: 0;
  }
}

/***********************/
/**** Font-families ****/
/***********************/

.brand-font-primary {
  font-famliy: $font-primary;
}

.brand-font-secondary {
  font-family: $font-secondary;
  font-style: italic;
}

.italic {
  font-style: italic;
}

.transform-uppercase {
  text-transform: uppercase;
}

.transform-normal {
  text-transform: none;
}
