/**************************/
/**** Placeholder text ****/
/**************************/

::-webkit-input-placeholder {
   color: #8f8e8c;
   font-family: "Times New Roman", serif;
   font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
   color: #8f8e8c;
   font-family: "Times New Roman", serif;
   font-style: italic;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #8f8e8c;
   font-family: "Times New Roman", serif;
   font-style: italic;
}

:-ms-input-placeholder {
   color: #8f8e8c !important;
   font-family: "Times New Roman", serif !important;
   font-style: italic !important;
}

/************************/
/**** Text alignment ****/
/************************/

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

/*******************/
/**** Font size ****/
/*******************/

p {
  margin: 0 0 1em 0;
  font-size: 16px;
  line-height: 1.75em;
}

p.large {
  font-size: 20px;
}

p.small {
  font-size: 12px;
}

/******************/
/**** Headings ****/
/******************/

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  margin: 0 0 1em 0;
  letter-spacing: 1px;
}

h1 {
  font-size: 4em;
  margin-bottom: 40px;
}

h2 {
  font-size: 2em;
}

/***********************/
/**** Font-families ****/
/***********************/

.brand-font-primary {
  font-famliy: "proxima-nova", Arial, sans-serif;
}

.brand-font-secondary {
  font-family: "Times New Roman", serif;
  font-style: italic;
}

.italic {
  font-style: italic;
}

.transform-uppercase {
  text-transform: uppercase;
}

.transform-normal {
  text-transform: none;
}

@media (max-width: 480px) {
  p.large {
    font-size: 16px;
  }
}
