/* Colors */
$brand-pink: #ed027e;
$brand-purple: #4a0059;
$brand-orange: #f15b22;
$brand-teal: #00abab;
$brand-green: #7bc557;
$brand-dark-gray: #222;
$brand-gray: #8f8e8c;
$brand-offwhite: #efeeea;
$brand-almostwhite: #f9f8f5;

$brand-light-teal: #6cc9c8;
$brand-light-purple: #611171;
$brand-light-orange: #f37d50;
$brand-light-pink: #ea69a7;

$brand-dark-purple: #2d0a3c;

$text-color: #333;
$text-color-secondary: #555;
$error-color: #ce1500;

$gutter: 20px;
$mobile-gutter: 15px;

$font-primary: "proxima-nova", Arial, sans-serif;
$font-secondary: "Times New Roman", Times, serif;

@mixin containers($cols) {
  @for $i from 1 through $cols {
    .contained-#{$i} {
      max-width: (1260 / $cols) * $i * 1px;
    }
  }
}

@mixin columns($cols, $prefix: null) {
  @for $i from 1 through $cols {
    &.#{$prefix}col-#{$i} {
      width: ($i / $cols) * 100%;
    }
  }
}

@mixin padding($leftright, $topbottom, $gutter, $prefix: null) {
  $lmodifier: null;
  $tmodifier: null;
  @for $l from 0 through $leftright {
    @if $l == 0 {$lmodifier: null;} @else {$lmodifier: 'x';}
    @for $t from 0 through $topbottom {
      @if $t == 0 {$tmodifier: null;} @else {$tmodifier: 'x';}
      @if ($l != $t) {
        .#{$prefix}padding-#{$l}#{$lmodifier}-#{$t}#{$tmodifier} {
          padding: $l * $gutter $t * $gutter;
        }
      } @else {
        .#{$prefix}padding-#{$t}#{$tmodifier} {
          padding: $t * $gutter;
        }
      }
    }
  }
}

@mixin margin($max, $gutter, $prefix: null) {
  .#{$prefix}margin-top-0 {
    margin-top: 0;
  }
  .#{$prefix}margin-bottom-0 {
    margin-bottom: 0;
  }
  @for $i from 1 through $max {
    .#{$prefix}margin-top-#{$i}x {
      margin-top: $i * $gutter;
    }
    .#{$prefix}margin-bottom-#{$i}x {
      margin-bottom: $i * $gutter;
    }
  }
}

// Hack to get css_mqpack to keep media queries in correct order.
// Processor outputs consolidated media queries in the order it first finds them.
@media (min-width: 480px) { /* tablet */ }
@media (min-width: 800px) { /* netbook */ }
@media (min-width: 1024px) { /* laptop */ }
@media (min-width: 1260px) { /* desktop */ }
