/* Colors */
$brand-pink: #ed027e;
$brand-purple: #611171;
$brand-orange: #f15b22;
$brand-teal: #00abab;
$brand-green: #7bc557;
$brand-darkgray: #222;
$brand-gray: #8f8e8c;
$brand-offwhite: #efeeea;

$brand-light-teal: #6cc9c8;
$brand-light-purple: #7c378a;
$brand-light-orange: #f37d50;
$brand-light-pink: #ea69a7;

$text-color: #333;
$text-color-secondary: #555;

$gutter: 20px;
$mobile-gutter: 15px;

$font-primary: "proxima-nova", Arial, sans-serif;
$font-secondary: "Times New Roman", Times, serif;
