/* Colors */
$brand-pink: #ed027e;
$brand-purple: #4a0059;
$brand-orange: #f15b22;
$brand-teal: #00abab;
$brand-green: #7bc557;
$brand-darkgray: #222;
$brand-gray: #8f8e8c;
$brand-offwhite: #efeeea;
$brand-almostwhite: #f9f8f5;

$brand-light-teal: #6cc9c8;
$brand-light-purple: #611171;
$brand-light-orange: #f37d50;
$brand-light-pink: #ea69a7;

$text-color: #333;
$text-color-secondary: #555;
$error-color: #ce1500;

$gutter: 20px;
$mobile-gutter: 15px;

$font-primary: "proxima-nova", Arial, sans-serif;
$font-secondary: "Times New Roman", Times, serif;

@mixin containers($cols) {
  @for $i from 1 through $cols {
    .contained-#{$i} {
      max-width: (1260 / $cols) * $i * 1px;
    }
  }
}

// Hack to get css_mqpack to keep media queries in correct order.
// Processor outputs consolidated media queries in the order it first finds them.
@media (min-width: 480px) { /* tablet */ }
@media (min-width: 800px) { /* netbook */ }
@media (min-width: 1024px) { /* laptop */ }
@media (min-width: 1260px) { /* desktop */ }
