<nav>
  <ul class="level-1 no-list-style">
    {% for section in site.nav %}
      <li {% if page.url contains section.url %}class="current"{% endif %}>
        <a href="{{ site.baseurl }}/{{ section.url }}">{{ section.title }}</a>
        <ul class="level-2">
          {% for document in section.pages %}
            <li {% if page.url contains document.url %}class="current"{% endif %}>
              <a href="{{ site.baseurl }}/{{ document.url }}">{{ document.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
</nav>
