pre, code {
  padding: 3px 5px;
  background-color: #efeeea;
  color: #555;
  margin: 0;
  border-radius: 2px;
  font-size: .875em;
}

pre.inline {
  display: inline;
}

pre:last-child {
  margin-bottom: 0;
}

#topbar {
  height: 5px;
  
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4a0059+0,ed027e+25,fa5b22+50,7bc557+75,00abab+100 */
  background: #4a0059; /* Old browsers */
  background: -moz-linear-gradient(left,  #4a0059 0%, #ed027e 25%, #fa5b22 50%, #7bc557 75%, #00abab 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #4a0059 0%,#ed027e 25%,#fa5b22 50%,#7bc557 75%,#00abab 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #4a0059 0%,#ed027e 25%,#fa5b22 50%,#7bc557 75%,#00abab 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a0059', endColorstr='#00abab',GradientType=1 ); /* IE6-9 */
}

.logo {
  display: inline-block;
  font-weight: bold;
  color: #fff;
  background-color: $brand-purple;
  line-height: 1;
  padding: 0 .25em .125em;
  font-size: 2em;
  
  &.large {
    font-size: 4em;
  }
  
  &.animate-in {
    opacity: 1;
    -webkit-animation: logo-in 2s 1;
    animation: logo-in 2s 1;
  }
}

@-webkit-keyframes logo-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@keyframes logo-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  
  20% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }  
}

/********************/
/**** Demo boxes ****/
/********************/

div.demo {
  border: solid 1px $brand-offwhite;
  padding: 30px;
  position: relative;
  
  &[class*='brand-'][class*='-bg']:not(.brand-offwhite-bg) {
    &:before {
      background-color: #fff;
      color: #333;
    }
  }
  
  &:before {
    content: 'Demo';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background-color: $brand-purple;
    color: #fff;
    font-size: .75em;
    font-weight: bold;
    padding: .5em .75em;
    text-transform: uppercase;
    letter-spacing: .5px;
  }
  
  @media (min-width: 480px) {
    padding: 40px;
  }
}

/*************************/
/**** Docs navigation ****/
/*************************/

nav {
  ul {
    line-height: 2.25em;
  }
}

.sidebar {
  float: left;
  width: 200px;
  padding-right: 40px;
  margin-right: 40px;
  border-right: solid 5px $brand-offwhite;
  
  nav {
    a {
      color: $text-color;
      line-height: 1.25;
      padding-bottom: 5px;
      display: inline-block;
      
      &:hover {
        color: $brand-green;
      }
    }
    
    .level-1 {
      > li  {
        margin-bottom: 20px;
        
        > a {
          font-weight: bold;
        }
      }
    }
    
    .level-2 {
      margin-left: 10px;
    }
  }
}

.sidebar + .content {
  float: left;
  width: calc(100% - 240px);
}
