@font-face {
	font-family: 'oi-icons';
	src:url('fonts/oi-icons.eot?-2bxlr6');
	src:url('fonts/oi-icons.eot?#iefix-2bxlr6') format('embedded-opentype'),
		url('fonts/oi-icons.woff?-2bxlr6') format('woff'),
		url('fonts/oi-icons.ttf?-2bxlr6') format('truetype'),
		url('fonts/oi-icons.svg?-2bxlr6#oi-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'oi-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-down:before {
	content: "\e617";
}
.icon-nav_right:before {
	content: "\e61b";
}
.icon-up:before {
	content: "\e618";
}
.icon-right:before {
	content: "\e619";
}
.icon-left:before {
	content: "\e61a";
}
.icon-nav_up:before {
	content: "\e61c";
}
.icon-addThis:before {
	content: "\e614";
}
.icon-menu:before {
	content: "\e616";
}
.icon-mail:before {
	content: "\e615";
}
.icon-user:before {
	content: "\e609";
}
.icon-checkmark:before {
	content: "\e607";
}
.icon-cross:before {
	content: "\e608";
}
.icon-plus:before {
	content: "\e613";
}
.icon-play:before {
	content: "\e60a";
}
.icon-arrow-left-small:before {
	content: "\e60e";
}
.icon-arrow-down-small:before {
	content: "\e610";
}
.icon-arrow-up-small:before {
	content: "\e611";
}
.icon-arrow-right-small:before {
	content: "\e612";
}
.icon-arrow-left:before {
	content: "\e60d";
}
.icon-arrow-down:before {
	content: "\e60f";
}
.icon-arrow-up:before {
	content: "\e60b";
}
.icon-arrow-right:before {
	content: "\e60c";
}
.icon-vimeo:before {
	content: "\e606";
}
.icon-twitter:before {
	content: "\e600";
}
.icon-facebook:before {
	content: "\e601";
}
.icon-googleplus:before {
	content: "\e602";
}
.icon-pinterest:before {
	content: "\e603";
}
.icon-tumblr:before {
	content: "\e604";
}
.icon-linkedin:before {
	content: "\e605";
}
