<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    
    <title>Weavr | {{ page.title }}</title>
    
    <link rel="stylesheet" href="{{site.baseurl}}/dist/weavr/OI.weavr.min.css">
    <link rel="stylesheet" href="{{site.baseurl}}/css/OI.modal.min.css">
    
    <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    
    <script type="text/javascript" src="//use.typekit.net/owg8owx.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    
  </head>
  <body>
    {% include nav.html %}
    
    <section class="padding-2x">
      <div class="contained-12 centered">
        <div class="sidebar">
          {% include sidenav.html %}
        </div>
        <div class="content">
          <h1>{{page.title}}</h1>
          {{ content }}
          
          {% include pagenav.html %}
        </div>
        <div class="clear"></div>
      </div>
    </section>
    
    {% include footer.html %}
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{site.baseurl}}/dist/weavr/OI.weavr.min.js"></script>
    <script type="text/javascript" src="{{site.baseurl}}/js/OI.modal.min.js"></script>
    
    <!--[if lte IE 9]>
      <script type="text/javascript" src="{{site.baseurl}}/dist/weavr/OI.placeholder.min.js"></script>
    <![endif]-->
    
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.0/jquery.scrollTo.min.js"></script>
    
    <script type="text/javascript">
      // automatically set up triggers for elements with data-modal attribute
      $('[data-modal]').modal();
    </script>
  </body>
</html>
